@import url(/src/css/reset.css);
@import url('/src/css/fuentes.css');

/* Estilo general para botones */
button {
    cursor: pointer;
}

/* Hover general para botones */
button:hover {
    scale: 1.05;
    transition: all 0.04s;
}

/* Cabeceras y menú de navegación */
.cabecera {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1vh 0;
}

/* Espacio del logo en la cabecera */
.cabecera .logo{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

/* Estilos de link en el logo */
.cabecera .logo a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Estilo del titulo en el logo */
.cabecera .logo h2 {
    width: 70%;
    color: black;
    font-size: 2.5vw;
    font-family: Paytone;
}

.cabecera .logo h2 span {
    color: #ffa500;
}

/* Opciones en enlaces de navegación */
.menu-navegacion {
    width: 55%;
    font-family: RubikSemi;
    font-size: 1.3vw;
}

/* Estilo del contenedor de listas en menú de navegación */
.menu-navegacion ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* estilo de elemento lista */
.menu-navegacion ul li {
    margin: 1vw;
}

/* Estilo link del elemento lista */
.menu-navegacion ul li a {
    text-decoration: none;
    color: black;
}

.menu-navegacion ul li a:hover {
    color: #FFA500;
}

/* Estilo de contenedor de registro e inicio de sesión */
.botones-navegacion{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-family: Rubik;
}

/* Estilos de botones de registre e inicio de sesión */
.botones-navegacion button {
    width: 40%;
    height: 70%;
    margin: 1vw;
}

/* Estilo del botón inicio de sesión */
.botones-navegacion #inicio-sesion {
    background-color: transparent;
    border: solid #ffa500;
    border-radius: .5vw;
    color: black;
    font-size: 1.2vw;
}

/* Estilo del link en el botón */
.botones-navegacion #inicio-sesion a {
    color: black;
    text-decoration: none;
}

/* Esto;p del botón registro */
.botones-navegacion #register {
    background-color: #ffa500;
    border: none;
    border-radius: 0.5vw;
    color: black;
    color: white;
    font-size: 1.2vw;
}

/* Link dentro del botón */
.botones-navegacion #register a {
    color: white;
    text-decoration: none;
}

/* estilo del contenedor de sección principal con el banner */
.principal {
    width: 100%;
    height: 41vw;

    /* Configuración de imagen de fondo */
    background-image: url(../../img/index/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 8vh;
}

/* Estilo del eslogan */
.principal h1 {
    width: 100%;
    text-align: center;
    font-family: Rubiksemi;
    font-size: 5vw;
    color: white;
    margin-bottom: 0.5vh;
}

.principal h1 span {
    color: #ffa500;
}

/* Estilo de párrafo en el banner */
.principal p {
    text-align: center;
    width: 50%;
    color: white;
    font-size: 1.3vw;
    margin-bottom: 2.5vh;
    font-family: rubik;
}

/* Estilos del botón en el banner */
.principal #boton-unirse {
    background-color: #ffa500;
    width: 12%;
    height: 8%;
    color: white;
    border: none;
    border-radius: .5vw;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    font-size: 1.2vw;
}

/* Estilo del link */
.principal #boton-unirse a {
    color: white;
    text-decoration: none;
}

/* Estilos del contenedor en sección de servicios */
.beneficios {
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Enunciado de contenedor de servicio */
.beneficios h2 {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    font-family: RubikSemi;
    margin-bottom: 1vh;
    margin-top: 5vh;
}

.beneficios h2 span {
    color: black;
    font-family: Paytone;
}

.beneficios h2 #naranja {
    color: #FFA500;
}

/* Párrafo en contenedor de servicio */
.beneficios .subtitulo {
    text-align: center;
    width: 100%;
    font-size: 1.9vw;
    margin-bottom: 6vh;
    font-size: rubik;
}

/* Contenedor de tarjetas de beneficios */
.beneficios .tarjetas-beneficios {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* Tarjetas de beneficios */
.beneficios .tarjeta {
    width: 25%;
    background-color: white;
    padding: 1vh 1vh 4vw 1vh;
    border-radius: 1vw;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    margin: 2vh 2vw 4%;
}

.beneficios .tarjeta:hover{
    scale: 1.02;
}

/* Estilo del contenedor de iconos en las tarjetas */
.beneficios .iconos  {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

/* Estilo de iconos */
.beneficios .icono {
    background-color: #FFEAC3;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Estilo de imagen en el icono */
.beneficios .icono img {
    width: 2.5vw;
}

/* Estilo del título en el icono */
.beneficios .tarjeta h3 {
    font-size: 1.5vw;
    text-align: center;
    font-family: RubikSemi;
    margin-bottom: 1vh;
}

/* Estilo de párrafos en tarjetas */
.beneficios .tarjeta p {
    font-size: 1.1vw;
    text-align: center;
    font-family: Rubik;
}


/* Contenedor de servicios */
.servicios {
    background-color: #E4E4E4;
    width: 100%;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

/* Estilo del título de servicios */
.servicios h2 {
    margin-top: 7%;
    font-family: rubiksemi;
    font-size: 2.5vw;
}

/* Estilo del párrafo en servicios */
.servicios .parrafo{
    text-align: center;
    font-family: rubik;
    font-size: 1.5vw;
    width: 55%;
    margin-top: 2%;
    margin-bottom: 10vh;
}

/* Tarjetas de servicios */
.tarjetas-servicios {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Estilos de tarjetas individuales */
.tarjetas-servicios .tarjeta-servicio {
    background-color: white;
    width: 25%;
    margin: 1vh 2.3vw 3vh;
    border-radius: 1vw;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contenedor de imágenes dentro de las tarjetas de servicios */
.tarjetas-servicios .tarjeta-servicio .imagen-servicio {
    width: 100%;
    height: 10vw;
    overflow: hidden;
}

/* Contenedor de la información de servicios */
.tarjeta-servicio .info-servicio {
    width: 90%;
    height: 18vh;
}

.tarjetas-servicios .tarjeta-servicio:hover {
    scale: 1.02;
}

/* Estilo de imágenes */
.tarjetas-servicios .tarjeta-servicio .imagen-servicio img {
    width: 100%;
    height: 100%;
    border-radius: 1vw 1vw 0 0;
}

/* Estilo en el título de tarjeta */
.tarjetas-servicios .tarjeta-servicio .info-servicio h3{
    font-size: 1.5vw;
    text-align: center;
    font-family: RubikSemi;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
}

/* Estilo en el párrafo de tarjeta */
.tarjetas-servicios .tarjeta-servicio .info-servicio p {
    font-size: 1.1vw;
    margin: 2vh 0;
    text-align: center;
    font-family: rubik;
}

.info-servicio {
    padding: 1vw;
}

/* Estilos de planes */
.planes {
    padding: 10vh 0 18vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Título de planes */
.planes h2 {
    font-size: 3vw;
    width: 100%;
    text-align: center;
    margin: 5vh 0 1vh;
    font-family: Rubik;
    font-weight: 600;
}

/* Párrafo de planes */
.planes p {
    font-size: 1.8vw;
    width: 100%;
    text-align: center;
    margin-bottom: 4vh;
    font-size: rubik;
}

/* Contenedor de tarjetas de planes */
.tarjetas-planes {
    width: 90%;
    display: flex;
    justify-content: center;
}

/* Tarjetas de planes */
.tarjeta-plan {
    width: 50%;
    margin: 2vh 2vw 4vh;
    box-shadow: 0 3px 6px 1px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: rubik;
}

.tarjeta-plan:hover {
    scale: 1.01;
    border: solid 0.01px #ffa500;
}

/* Estilos en el nombre y precio del plan */
.tarjeta-plan .nombre-precio {
    width: 100%;
    display: inline-flex;
    font-size: 1.9vw;
    font-family: Rubiksemi;
    justify-content: space-between;
    margin: 4vh 0 2vh;
}

/* Título del plan */
.tarjeta-plan .nombre-precio h3, .tarjeta-plan .nombre-precio .precio {
    margin: 0 2.5vw;
}

/* Span pro */
.tarjeta-plan .nombre-precio #pro {
    color: #FFA500;
}

/* Span básico */
.tarjeta-plan .nombre-precio #basico {
    color: #626262;
}

/* contenedor de características del plan */
.tarjeta-plan .caracteristicas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Beneficios dentro de las características */
.tarjeta-plan .caracteristicas .beneficio{
    width: 44%;
    margin: 1.5vh 1.2vw;
    display: inline-flex;
    align-items: center;
    align-content: center;
    font-size: 1.2vw;
    font-family: rubik;
}

/* imagen de iconos checked y x */
.tarjeta-plan .caracteristicas .beneficio img {
    width: 3vw;
    height: 3vw;
}

/* Botón de planes */
.tarjeta-plan .seleccionar {
    width: 70%;
    padding: .7vh 20%;
    background-color: #ffa500;
    margin: 2vh 0;
    text-align: center;
    font-size: 1.2vw;
    border: none;
    border-radius: .5vw;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3);
}

/* Link dentro del botón */
.tarjeta-plan .seleccionar a {
    height: 100%;
    color: white;
    text-decoration: none;
}

/* Responsive para pantallas de 800px*/
@media (max-width: 800px) {
    
    /* Modificación de tamaño en el contenedor de información de las tarjetas de registro */
    .tarjeta-servicio .info-servicio {
        width: 90%;
        height: 16vh;
    }
}

/* Responsive para pantallas de 700px*/
@media (max-width: 700px){

    /* Modificación de tamaño en el contenedor de información de las tarjetas de registro */
    .tarjeta-servicio .info-servicio {
        width: 90%;
        height: 14vh;
    }

    /* Disminución de márgenes en los párrafos de servicio */
    .servicios .parrafo {
        margin-bottom: 8%;
    }
}

/* Responsive para pantallas de 600px*/
@media (max-width: 600px) {
    
    /* Modificación de tamaño en el contenedor de información de las tarjetas de registro */
    .tarjeta-servicio .info-servicio {
        width: 90%;
        height: 12vh;
    }

    /* Disminución de márgenes en los párrafos de servicio */
    .servicios .parrafo {
        margin-bottom: 8%;
    }
}

/* Responsive para pantallas de 500px*/
@media (max-width: 500px) {

    /* Modificación de tamaño en el contenedor de información de las tarjetas de registro */
    .tarjeta-servicio .info-servicio {
        width: 90%;
        height: 10vh;
    }

    /* Disminución de márgenes en los párrafos de servicio */
    .servicios .parrafo {
        margin-bottom: 6%;
    }
}

/* Responsive para pantallas de 400px*/
@media (max-width: 400px) {

    /* Disminución de márgenes en el título de beneficios */
    .beneficios h2 {
        margin-top: -2vh;
    }

    /* Disminución de márgenes en los subtítulos de beneficios */
    .beneficios .subtitulo {
        margin-bottom: 4vh;
    }

    /* Disminución de márgenes en los párrafos de servicio */
    .servicios .parrafo {
        margin-bottom: 4%;
    }
    
    /* Modificación de tamaño en el contenedor de información de las tarjetas de registro */
    .tarjeta-servicio .info-servicio {
        width: 90%;
        height: 10vh;
    }
}

