/* Importar las fuentes */
@import '../../fuentes.css';

/* contenedor de los pop ups */
#contenedor_popup{
    align-items: center;
    display: none;
    justify-content: center;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}

.cerrar{
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}

.cuerpo_popup{
    position: absolute;
    z-index: 4;
}



/* Desplegable del icono de acciones */
#contenedor_contenido #contenido .desplegable,
.desplegable{
    display: none;
    background-color: #F6F6F4;
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    width: fit-content;
}
/* Título del desplegable */
#contenedor_contenido #contenido .desplegable h2,
.desplegable h2{
    font-weight: bold;
    display: inline-block;
    font-size: 1.18rem;
}
/* Botón de cerrar el desplegable */
#contenedor_contenido #contenido .desplegable .x,
.desplegable .x{
    background: none;
    border: none;
    float: right;
    height: auto;
    transition: all .3s;
    width: fit-content;
}
/* Imagen del botón */
#contenedor_contenido #contenido .desplegable .x img,
.desplegable .x img{
    width: 15px;
    height: auto;
    display: block;
    margin: 0;
}
/* Contenedores de las acciones o botones */
#contenedor_contenido #contenido .desplegable .div_eliminar,
#contenedor_contenido #contenido .desplegable .div_detalles,
.desplegable .div_eliminar,
.desplegable .div_detalles{
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-size: .90rem;
    padding: 10px;
    transition: .3s ;
    will-change: transform;
}
/* Poner margin al div de "ver detalles" */
#contenedor_contenido #contenido .desplegable .div_detalles,
.desplegable .div_detalles{
    margin-top: 10px;
}
/* Cambiar el color del texto del div de "Eliminar" */
#contenedor_contenido #contenido .desplegable .div_eliminar,
.desplegable .div_eliminar{
    color: #C31414;
}
/* HOVER a los contenedores de las acciones */
#contenedor_contenido #contenido .desplegable .div_eliminar:hover,
#contenedor_contenido #contenido .desplegable .div_detalles:hover,
.desplegable .div_eliminar:hover,
.desplegable .div_detalles:hover{
    background-color: #d9d9d9;
    cursor: pointer;
    transform: scale(.95);
}
/* Iconos de las acciones */
#contenedor_contenido #contenido .desplegable div img,
.desplegable div img{
    width: 20px;
    margin: 0;
    margin-right: 5px;
}