/* Importar los estilos de admin.css */
@import './admin.css';
@import './desplegables/desplegables.css';

body {
    background-color: #ECECEC;
}

main {
    box-sizing: border-box;
    font-family: Rubik;
    padding: 30px;
    width: 82%;
}

/* Estilos del encabezado */
.encabezado {
    line-height: 1.5;
}

.encabezado h2 {
    font-family: RubikSemi;
    font-size: 2.5vw;
}

/* Estilos del panel de control y contenedor de sucursal */
.panel-control {
    display: flex;
    justify-content: space-between;
}

.contenedor-sucursal {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/* Barra de búsqueda */
.panel-control .barra-de-busqueda {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 400px;
}

.panel-control .barra-de-busqueda img {
    position: relative;
    left: 5px;
    z-index: 1;
}

.panel-control .barra-de-busqueda input {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: white;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    width: 100%;
}

/* Boton buscar */
.panel-control .barra-de-busqueda .boton-buscar {
    padding: 6px 12px;
    background-color: #f9f9f9;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    position: relative;
}

.panel-control .barra-de-busqueda .boton-buscar p {
    margin-top: 2px;
    margin-left: 8px;
}

.panel-control .barra-de-busqueda .boton-buscar img {
    width: 18px;
    margin-top: -2px;
    margin-left: -10px
}

/* Boton agregar nueva sucursal */
.panel-control .boton-agregar {
    background-color: #FCA502;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s;
    display: flex;
    position: relative;
}

.panel-control .boton-agregar img {
    text-align: left;
}

.panel-control .boton-agregar p {
    margin-top: 4px;
    margin-left: 5px;
}

.panel-control .boton-agregar:hover {
    background-color: #fca402da;
}

main button:hover {
    cursor: pointer;
    transform: scale(0.95);
}



/* Contenedor de los contenidos o datos */
#contenedor_contenido{
    background-color: white;
    border: 1px solid #7B7B7B;
    border-radius: 3px;
    height: 60vh;
    max-height: 350px;
    margin-top: 3vh;
    overflow-x: auto;
}
/* Encabezado del contenido */
#contenedor_contenido .encabezado_contenido{
    display: grid;
    grid-template-columns: 5% 10% 25% 15% 20% 10% 5%;
    gap: 10px;

    background-color: #FCA502;
    color: white;
    padding: 15px;
    font-weight: bolder;
    font-size: 1.4vw;
    width: fit-content;
    min-width: 100%;
    box-sizing: border-box;
}
/* Contenido */
#contenedor_contenido #contenido{
    /* Asignación de columnas y espaciados */
    display: grid;
    grid-template-columns: 5% 10% 25% 15% 20% 10% 5%;
    gap: 10px;

    /* Estilos del contenido */
    box-sizing: border-box;
    border-bottom: 1px solid black;
    font-size: 1.15vw;
    align-items: center;
    margin-top: 5px;
    min-width: 100%;
    padding: 15px;
    width: fit-content;
}
/* icono de acciones */
#contenedor_contenido #contenido img{
    margin-left: 2vw;
    width: .6vw;
    height: auto;
}
/* Transición a todos los botones */
main button{
    transition: all .15s;
    will-change: transform;
}
/* Hover a todos los botones */
main button:hover{
    cursor: pointer;
    transform: scale(.95);
}

/* Desplegable del icono de acciones */
.desplegable{
    margin-top: 130px;
    right: 1vw;
}