@import './desplegables.css';

* {
    font-family: rubik;
}

.cuerpo_popup {
    width: 450px;
    height: fit-content;
    padding: 30px;

    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.3);

    display: flex;
    flex-direction: column;
}

.icono-nombre {
    width: 100%;

    display: inline-flex;
    align-items: center;
}

.div_user_icon {
    box-sizing: border-box;
    width: 90px;
    height: 90px;

    color: white;
    font-size: 1.5rem;
    font-family: rubiksemi;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #ff6a00;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.3);
    border-radius: 100%;
}

.nombre_rol_popup {
    padding-left: 20px;
}

.nombre_rol_popup h3 {
    font-size: 1.2rem;
    font-family: rubiksemi;
}

.nombre_rol_popup h4 {
    font-size: 1rem;
}

.div_datos_empleado {
    width: 100%;
    margin-top: 20px;
    height: fit-content;
    line-height: 1.2rem;
}

.div_datos_empleado p span{
    font-size: .9rem;
    font-family: rubiksemi;
}