@import url(./../global_styles/fuentes.css);
@import url(./../global_styles/reset.css);

body {
    overflow-x: hidden;
}

html {
    font-size: 20px;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb {
    background-color: #ffa500;
}

/* Estilo general para botones */
button {
    cursor: pointer;
}

button:hover {
    scale: 1.05;
    transition: all 0.04s;
}

header .icono-header{
    /* Bordes y margenes */
    width: 18%;
    height: 100%;
    
    /* Estilos de fuente */
    color: white;
    font-family: rubik;
    font-size: 1.5vw;
    font-weight: 600;

    /* Estilos flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

/* Lin dentro de contenedor de iconos*/
header .icono-header a {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

/* Estilos del icono */
header .icono-header .icono {
    width: 2rem;
    height: 2rem;
    background-color: #ffa500;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


* h1 {
    font-family: Paytone;
    font-size: 2rem;
}

* h2 {
    font-family: rubiksemi;
    font-size: 2rem;
}

* h3 {
    font-family: rubiksemi;
    font-size: 1.2rem;
}

* p {
    font-family: rubik;
    font-size: 1.1rem;
}

* a {
    font-family: rubik;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

/* Cabeceras y menú de navegación */
.cabecera {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
}

/* Espacio del logo en la cabecera */
.cabecera .logo{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

/* Estilos de link en el logo */
.cabecera .logo a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Estilo del titulo en el logo */
.cabecera .logo h1 {
    width: 70%;
    color: black;
    font-family: Paytone;
}

.cabecera .logo h1 span {
    color: #ffa500;
}

/* Opciones en enlaces de navegación */
.menu-navegacion {
    width: 60%;
    font-family: RubikSemi;
}

/* Estilo del contenedor de listas en menú de navegación */
.menu-navegacion ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* estilo de elemento lista */
.menu-navegacion ul li {
    margin: 10px 20px;
}

/* Estilo link del elemento lista */
.menu-navegacion ul li a {
    text-decoration: none;
    color: black;
    font-size: .8rem;
}

.menu-navegacion ul li a:hover {
    color: #FFA500;
}

/* Estilo de contenedor de registro e inicio de sesión */
.botones-navegacion{
    display: inline-flex;
    justify-content: end;
    align-items: center;
    width: 20%;
}

/* Estilos de botones de registre e inicio de sesión */
.botones-navegacion button {
    width: 60%;
    height: 80%;
    margin: 10px;
}

/* Estilo del botón inicio de sesión */
.botones-navegacion #inicio-sesion {
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    transition: all .3s;
}

.botones-navegacion #inicio-sesion:hover {
    scale: 1.05;
    background-color: #db9201;
}

/* Estilo del link en el botón */
.botones-navegacion #inicio-sesion a {
    color: #fff;
    text-decoration: none;
}

.subir {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: #ffa600e2;
    color: white;
    width: 40px;
    height: 40px;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}

.subir:hover {
    cursor: pointer;
    scale: 1.1;
}

/* estilo del contenedor de sección principal con el banner */
.principal {
    width: 100%;
    height: 50vw;

    /* Configuración de imagen de fondo */
    background-image: url('../../img/user_img/index/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    flex-wrap: wrap;
}

/* Estilo del eslogan */
.principal h2 {
    width: 100%;
    margin-top: -2%;
    margin-left: 10%;
    font-family: Rubiksemi;
    color: white;
    margin-bottom: 5px;
    font-size: 3rem;
}

.principal h2 span {
    color: #ffa500;
}

/* Estilo de párrafo en el banner */
.principal p {
    width: 50%;
    color: white;
    margin-left: 11%;
}

/* Estilos del contenedor en sección de servicios */
.beneficios {
    margin-top: 6px;
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beneficios .subtitulo-parrafo {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Enunciado de contenedor de servicio */
 .beneficios h2 {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.beneficios h2 span {
    color: black;
    font-family: Paytone;
}

.beneficios h2 #naranja {
    color: #FFA500;
}

/* Párrafo en contenedor de servicio */
.beneficios .subtitulo {
    text-align: center;
}

/* Contenedor de tarjetas de beneficios */
.beneficios .tarjetas-beneficios {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Tarjetas de beneficios */
.beneficios .tarjeta {
    width: 25%;
    background-color: white;
    padding: 10px 10px 40px 10px;
    border-radius: 1vw;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    margin: 20px 20px 4%;
}

.beneficios .tarjeta:hover{
    scale: 1.02;
}

/* Estilo del contenedor de iconos en las tarjetas */
.beneficios .iconos  {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
}

/* Estilo de iconos */
.beneficios .icono {
    background-color: #FFEAC3;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Estilo de imagen en el icono */
.beneficios .icono img {
    width: 60%;
}

/* Estilo del título en el icono */
.beneficios .tarjeta h3 {
    text-align: center;
    font-family: RubikSemi;
    margin-bottom: 10px;
}

/* Estilo de párrafos en tarjetas */
.beneficios .tarjeta p {
    font-size: .9rem;
    text-align: center;
    font-family: Rubik;
}


/* Contenedor de servicios */
.servicios {
    background-color: rgba(243, 243, 243, 0.9647);
    width: 100%;
    height: 140vh;

    display: flex;
    flex-direction: column;
}

/* Estilo del título de servicios */
.servicios .subtitulo-parrafo {
    width: 100%;
    height: 20%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicios .subtitulo-parrafo p {
    width: 60%;
}

/* Tarjetas de servicios */
.servicios .tarjetas-servicios {
    width: 100%;
    height: 80%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;

}

/* Estilos de tarjetas individuales */
.servicios .tarjetas-servicios .tarjeta-servicio {
    width: 25%;
    height: 260px;
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.3);

    display: flex;
    flex-direction: column;
}

.servicios .tarjetas-servicios .tarjeta-servicio:hover {
    scale: .99;
}

/* contenedor de imágenes dentro de las tarjetas de servicios */
.servicios .tarjetas-servicios .tarjeta-servicio .imagen-servicio {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

/* Estilo de imágenes */
.servicios .tarjetas-servicios .tarjeta-servicio .imagen-servicio img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

/* Contenedor de la información de servicios */
.servicios .tarjeta-servicio .info-servicio {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilo en el título de tarjeta */
.servicios .tarjetas-servicios .tarjeta-servicio .info-servicio h3{
    text-align: center;
    font-size: 1rem;
}

/* Estilo en el párrafo de tarjeta */
.servicios .tarjetas-servicios .tarjeta-servicio .info-servicio p {
    margin-top: 10px;
    font-size: .8rem;
    text-align: center;
}

/* Estilos de planes */
.planes {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planes .subtitulo-parrafo {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

/* Título de planes */
.planes h2 {
    width: 100%;
    margin-bottom: 5px;
}

/* Párrafo de planes */
.planes p {
    width: 100%;
}

/* Contenedor de tarjetas de planes */
.planes .tarjetas-planes {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tarjetas de planes */
.tarjeta-plan {
    background-color: white;
    width: 38%;
    height: 65%;
    padding: 20px;
    margin: 0 20px;

    border: 0.01px;
    border-radius: 10px;
    box-shadow: 0 0px 6px .8px rgba(0,0,0,.3);

    display: flex;
    flex-direction: column;
}

.tarjeta-plan:hover {
    border: solid 0.01px #ffa500;
    scale: 1.01;
}

/* Estilos en el nombre y precio del plan */
.tarjeta-plan .nombre-precio {
    width: 100%;
    height: 20%;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tarjeta-plan .nombre-precio .nombre h3{
    font-size: 1.3rem;
}

/* Título del plan */
.tarjeta-plan .nombre-precio h3, .tarjeta-plan .nombre-precio .precio {
    margin: 0 25px;
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.tarjeta-plan .nombre-precio h3, .tarjeta-plan .nombre-precio .precio .monto p {
    font-size: 1.3rem;
}

/* Span pro */
.tarjeta-plan .nombre-precio #pro {
    color: #FFA500;
    margin-left: 5px;
}

/* Span básico */
.tarjeta-plan .nombre-precio #basico {
    color: #626262;
    margin-left: 5px;
}

/* contenedor de características del plan */
.tarjeta-plan .caracteristicas {
    width: 100%;
    height: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Beneficios dentro de las características */
.tarjeta-plan .caracteristicas .beneficio{
    width: 45%;
    margin: 5px 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-plan .caracteristicas .beneficio p {
    font-size: .9rem;
    text-align: left;
}

/* imagen de iconos checked y x */
.tarjeta-plan .caracteristicas .beneficio img {
    width: 36px;
    height: 36px;
}

.sucursales {
    width: 100%;
    height: 100vh;
    background-color: rgba(243, 243, 243, 0.9647);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sucursales h2 {
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sucursales .contenedor-sucursales {
    width: 100%;
    height: 85%;

    overflow: hidden;
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}

.sucursales .contenedor-sucursales::-webkit-scrollbar {
    display: none;
}

.sucursales .contenedor-sucursales .tarjeta-sucursal {
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
    border-radius: 10px;
    margin: 10px;
    scale: 0.9;
    background-color: white;
}

.sucursales .contenedor-sucursales .tarjeta-sucursal .imagen {
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.sucursales .contenedor-sucursales .tarjeta-sucursal .imagen img {
    display: flex;
    width: 100%;
    height: 100%;
}

.sucursales .contenedor-sucursales .tarjeta-sucursal .nombre-sucursal {
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
}

.sucursales .contenedor-sucursales .tarjeta-sucursal .direccion-sucursal {
    display: inline-flex;
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.sucursales .contenedor-sucursales .tarjeta-sucursal .telefono-sucursal {
    display: inline-flex;
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.sucursales .contenedor-sucursales .tarjeta-sucursal .horario-sucursal {
    display: inline-flex;
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.div-img {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-img img {
    width: 1rem;
}

.div-p {
    width: 85%;  
    overflow: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.div-p::-webkit-scrollbar {
    display: none;
}

.div-p p {
    font-size: .85rem;
}

@media (max-width: 1086px) {
    * h1 {
        font-size: 1.8rem;
    }
    
    * h2 {
        font-size: 1.6rem;
    }
    
    * h3 {
        font-size: 1.1rem;
    }
    
    * p {
        font-size: 1rem;
    }
    
    * a {
        font-size: .9rem;
    }

    header .icono-header .icono {
        width: 1.8rem;
        height: 1.8rem;
    }

    .botones-navegacion button {
        width: 70%;
    }

    /* Estilo del eslogan */
    .principal h2 {
        font-size: 2.5rem;
    }

    /* Estilo de párrafo en el banner */
    .principal p {
        font-size: .9rem;
    }

    .beneficios .tarjeta h3 {
        font-size: .9rem;
    }

    /* Estilo de párrafos en tarjetas */
    .beneficios .tarjeta p {
        font-size: .7rem;
    }
    
    
    /* Contenedor de servicios */
    .servicios {
        height: 135vh;
    }

    /* Estilo en el párrafo de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio p {
        margin: 10px 12px;
        font-size: .7rem;
        text-align: center;
    }

    /* Tarjetas de planes */
    .tarjeta-plan {
        padding: 5px;
        margin: 0 15px 0;
    }

    /* Beneficios dentro de las características */
    .tarjeta-plan .caracteristicas .beneficio{
        margin: 15px 8px;
    }
    
    .tarjeta-plan .caracteristicas .beneficio p {
        font-size: .7rem;
    }

    .sucursales .contenedor-sucursales .tarjeta-sucursal {
        height: 65%; 
    }
}

@media (max-width: 940px) {
    
    * h1 {
        font-size: 1.5rem;
    }

    * h2 {
        font-size: 1.4rem;
    }

    * h3 {
        font-size: 1.1rem;
    }

    * p {
        font-size: .9rem;
    }

    * a {
        font-size: .9rem;
    }

    header .icono-header .icono {
        width: 1.6rem;
        height: 1.6rem;
    }

    .menu-navegacion ul li {
        margin: 10px;
    }

    .botones-navegacion button {
        width: 75%;
    }

    /* Estilo del eslogan */
    .principal h2 {
        font-size: 2.3rem;
    }

    /* Estilo de párrafo en el banner */
    .principal p {
        font-size: .8rem;
    }

    /* Estilo de iconos */
    .beneficios .icono {
        background-color: #FFEAC3;
        width: 50px;
        height: 50px;
    }

    /* Estilo del título en el icono */
    .beneficios .tarjeta h3 {
        font-size: .9rem;
    }

    /* Estilo de párrafos en tarjetas */
    .beneficios .tarjeta p {
        font-size: .7rem;
    }

    /* Estilo en el título de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio h3{
        font-size: .9rem;
    }

    /* Estilo en el párrafo de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio p {
        margin: 10px 5px;
        font-size: .66rem;
    }

    /* Tarjetas de planes */
    .tarjeta-plan {
        width: 40%;
        height: auto;
        padding: 20px;
    }

    .tarjeta-plan .nombre-precio {
        width: 100%;
        padding: 5px;
        height: 20%;
    }

    .tarjeta-plan .nombre-precio .nombre h3{
        font-size: 1.2rem;
    }
    .tarjeta-plan .nombre-precio h3, .tarjeta-plan .nombre-precio .precio .monto p {
        font-size: 1rem;
    }

    /* Beneficios dentro de las características */
    .tarjeta-plan .caracteristicas .beneficio{
        width: 42%;
        height: 60px;
        margin: 5px 10px;
        display: flex;
        align-items: center;
    }

    .tarjeta-plan .caracteristicas .beneficio p {
        font-size: .8rem;
        text-align: left;
    }

    .div-img img {
        width: .9rem;
    }
    .div-p p {
        font-size: .75rem;
    }
}

@media (max-width: 824px) {
    * h1 {
        font-size: 1.5rem;
    }
    
    * h2 {
        font-size: 1.3rem;
    }
    
    * p {
        font-size: .8rem;
    }
    
    * a {
        font-size: .8rem;
    }

    .menu-navegacion ul li a {
        font-size: .7rem;
    }

    /* Estilo del eslogan */
     .principal h2 {
        font-size: 2rem;
    } 
 
    /* Estilo de iconos */
    .beneficios .icono {
        width: 45px;
        height: 45px;
    }

    /* Estilo del título en el icono */
    .beneficios .tarjeta h3 {
        font-size: .8rem;
    }
    
    /* Estilo de párrafos en tarjetas */
    .beneficios .tarjeta p {
        font-size: .6rem;
    }
    
    /* Contenedor de servicios */
    .servicios {
        height: 110vh;
    }
    /* Estilos de tarjetas individuales */
    .servicios .tarjetas-servicios .tarjeta-servicio {
        height: 200px;
    }

    /* Estilo en el título de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio h3{
        font-size: .8rem;
    }
    
    /* Estilo en el párrafo de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio p {
        font-size: .6rem;
    }
    
    /* Tarjetas de planes */
    .tarjeta-plan {
        width: 40%;
        height: auto;
        padding: 20px;
    }

    .tarjeta-plan .nombre-precio {
        width: 100%;
        padding: 5px;
        height: 20%;
    }

    .tarjeta-plan .nombre-precio .nombre h3{
        font-size: 1.1rem;
    }
    .tarjeta-plan .nombre-precio h3, .tarjeta-plan .nombre-precio .precio .monto p {
        font-size: .9rem;
    }

    /* Beneficios dentro de las características */
    .tarjeta-plan .caracteristicas .beneficio{
        width: 42%;
        height: 60px;
        margin: 5px 10px;
        display: flex;
        align-items: center;
    }

    .tarjeta-plan .caracteristicas .beneficio p {
        font-size: .7rem;
        text-align: left;
    }

    /* imagen de iconos checked y x */
    .tarjeta-plan .caracteristicas .beneficio img {
        width: 30px;
        height: 30px;
    }

    .div-img img {
        width: .9rem;
    }
    .div-p p {
        font-size: .7rem;
    }
}

@media (max-width: 765px) {

    * h1 {
        font-size: 1.3rem;
    }

    * h2 {
        font-size: 1.3rem;
    }

    * p {
        font-size: .7rem;
    }
    
    * a {
        font-size: .7rem;
    }

    header .icono-header .icono {
        width: 1.4rem;
        height: 1.4rem;
    }

    /* Estilo del eslogan */
    .principal h2 {
        font-size: 1.8rem;
    } 

    /* Estilo de párrafo en el banner */
    .principal p {
        font-size: .7rem;
    }

    /* Tarjetas de beneficios */
    .beneficios .tarjeta {
        width: 22%;
    }

    /* Estilo de iconos */
    .beneficios .icono {
        width: 40px;
        height: 40px;
    }

    /* Estilo del título en el icono */
    .beneficios .tarjeta h3 {
        font-size: .66rem;
    }

    /* Estilo de párrafos en tarjetas */
    .beneficios .tarjeta p {
        font-size: .55rem;
    }

    /* Contenedor de servicios */
    .servicios {
        height: 105vh;
    }

    /* Estilo en el título de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio h3{
        font-size: .67rem;
    }
    
    /* Estilo en el párrafo de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio p {
        font-size: .56rem;
    }

        /* Tarjetas de planes */
    .tarjeta-plan {
        width: 40%;
        height: auto;
        padding: 20px;
    }

    .tarjeta-plan .nombre-precio {
        width: 100%;
        padding: 5px;
        height: 20%;

        justify-content: center;
    }

    .tarjeta-plan .nombre-precio .nombre h3{
        font-size: 1rem;
    }
    .tarjeta-plan .nombre-precio h3, .tarjeta-plan .nombre-precio .precio .monto p {
        font-size: .8rem;
    }

    /* Beneficios dentro de las características */
    .tarjeta-plan .caracteristicas .beneficio{
        width: 42%;
        height: 60px;
        margin: 5px 10px;
        display: flex;
        align-items: center;
    }

    .tarjeta-plan .caracteristicas .beneficio p {
        font-size: .7rem;
        text-align: left;
    }

    /* imagen de iconos checked y x */
    .tarjeta-plan .caracteristicas .beneficio img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 670px) {
    * h1 {
        font-size: 1.1rem;
    }

    * h2 {
        font-size: 1rem;
    }

    * p {
        font-size: .5rem;
    }
    
    * a {
        font-size: .5rem;
    }

    .menu-navegacion ul {
        display: none;
    }

    /* Estilo del eslogan */
    .principal h2 {
        font-size: 1.6rem;
    } 

    /* Estilo de párrafo en el banner */
    .principal p {
        font-size: .5rem;
    }

        /* Tarjetas de planes */
    .tarjeta-plan {
        width: 40%;
        height: auto;
        padding: 20px;
    }

    .tarjeta-plan .nombre-precio {
        width: 100%;
        padding: 5px;
        height: 20%;

        justify-content: center;
    }

    .tarjeta-plan .nombre-precio .nombre h3{
        font-size: .9rem;
    }
    .tarjeta-plan .nombre-precio h3, .tarjeta-plan .nombre-precio .precio .monto p {
        font-size: .7rem;
    }

    /* Beneficios dentro de las características */
    .tarjeta-plan .caracteristicas .beneficio{
        width: 42%;
        height: 60px;
        margin: 5px 10px;
        display: flex;
        align-items: center;
    }

    .tarjeta-plan .caracteristicas .beneficio p {
        font-size: .6rem;
        text-align: left;
    }

    /* imagen de iconos checked y x */
    .tarjeta-plan .caracteristicas .beneficio img {
        width: 30px;
        height: 30px;
    }
  
    .sucursales .contenedor-sucursales .tarjeta-sucursal {
        width: 35%;
    }

    .sucursales .contenedor-sucursales .tarjeta-sucursal .nombre-sucursal p{
        font-size: .9rem;
    }
    
    .sucursales .contenedor-sucursales .tarjeta-sucursal .direccion-sucursal {
        display: inline-flex;
        width: 100%;
        height: 50px;
        margin-top: 5px;
    }
    
    .sucursales .contenedor-sucursales .tarjeta-sucursal .telefono-sucursal {
        display: inline-flex;
        width: 100%;
        height: 50px;
        margin-top: 5px;
    }
    
    .sucursales .contenedor-sucursales .tarjeta-sucursal .horario-sucursal {
        display: inline-flex;
        width: 100%;
        height: 50px;
        margin-top: 5px;
    }
    
    .div-img {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .div-img img {
        width: 1rem;
    }
    
    .div-p {
        width: 85%;  
        overflow: auto;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    .div-p::-webkit-scrollbar {
        display: none;
    }
    
    .div-p p {
        font-size: .85rem;
    }
}

@media (max-width: 630px) {
    * h1 {
        font-size: 1.3rem;
    }
    
    * h2 {
        font-size: 1.2rem;
    }
    
    * h3 {
        font-size: .9rem;
    }
    
    * p {
        font-size: .7rem;
    }
    
    * a {
        font-size: .6rem;
    }

    header .icono-header .icono {
        width: 1.5rem;
        height: 1.5rem;
    }

    .botones-navegacion{
        width: 30%;
    }

    .menu-navegacion {
        width: 50%;
    }

    /* Estilo del eslogan */
    .principal h2 {
        font-size: 1.5rem;
    }

    /* Estilos del contenedor en sección de servicios */
    .beneficios {
        box-sizing: border-box;
        height: auto;
        padding: 20px;
    }
  
    /* Contenedor de tarjetas de beneficios */
    .beneficios .tarjetas-beneficios {
        flex-direction: column;
    }
    
    /* Tarjetas de beneficios */
    .beneficios .tarjeta {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .beneficios .tarjeta:hover{
        scale: 1.02;
    }
   
    /* Estilo de iconos */
    .beneficios .icono {
        width: 50px;
        height: 50px;
        margin-bottom: -10px;
        border-radius: 50%;
    }

    .beneficios .tarjeta h3 {
        font-size: .9rem;
    }

    /* Estilo de párrafos en tarjetas */
    .beneficios .tarjeta p {
        width: 70%;
        font-size: .65rem;
        text-align: center;
        font-family: Rubik;
    }
    
    
    /* Contenedor de servicios */
    .servicios {
        height: auto;
        box-sizing: border-box;
        padding: 20px;
    }

    /* Estilos de tarjetas individuales */
    .servicios .tarjetas-servicios .tarjeta-servicio {
        width: 40%;
        height: 230px;
    }

    /* Estilo en el título de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio h3{
        text-align: center;
        font-size: .8rem;
    }
    
    /* Estilo en el párrafo de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio p {
        margin-top: 10px;
        font-size: .6rem;
        text-align: center;
    }
    
    /* Estilos de planes */
    .planes {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 20px;
    }

    .tarjetas-planes {
        box-sizing: border-box;
        padding: 20px;
        flex-direction: column;
    }

    /* Tarjetas de planes */
    .tarjeta-plan {
        width: 80%;
        height: auto;
        box-sizing: border-box;
        padding: 20px;
        margin: 20px;
    }
 
    .tarjeta-plan .nombre-precio .nombre h3{
        font-size: 1rem;
    }

    .tarjeta-plan .nombre-precio h3, .tarjeta-plan .nombre-precio .precio .monto p {
        font-size: 1rem;
    }
  
    /* Beneficios dentro de las características */
    .tarjeta-plan .caracteristicas .beneficio{
        width: 43%;
    }
    
    .tarjeta-plan .caracteristicas .beneficio p {
        font-size: .7rem;
        text-align: left;
    }
    
    /* imagen de iconos checked y x */
    .tarjeta-plan .caracteristicas .beneficio img {
        width: 30px;
        height: 30px;
    }
 
    .sucursales .contenedor-sucursales::-webkit-scrollbar {
        display: none;
    }
    
    .sucursales .contenedor-sucursales .tarjeta-sucursal {
        width: 35%;
        height: 290px;
    }

    .sucursales .contenedor-sucursales .tarjeta-sucursal .nombre-sucursal {
        width: 100%;
        margin-top: 10px;
        font-weight: 600;

    }
    
    .sucursales .contenedor-sucursales .tarjeta-sucursal .nombre-sucursal p {
        font-size: .8rem;
    }

    .div-p p {
        font-size: .65rem;
    }
}

@media (max-width: 500px) {

    header .icono-header .icono {
        width: 1.4rem;
        height: 1.4rem;
    }

    /* Contenedor de tarjetas de beneficios */
    .beneficios .tarjetas-beneficios {
        margin-top: 10px;
    }
    
    /* Tarjetas de beneficios */
    .beneficios .tarjeta {
        width: 80%;
    }

    .servicios .subtitulo-parrafo {
        margin-bottom: 20px;
    }

    .servicios .subtitulo-parrafo p {
        width: 90%;
    }

    /* Estilos de tarjetas individuales */
    .servicios .tarjetas-servicios .tarjeta-servicio {
        width: 45%;
        margin: 10px;
        height: 250px;
    }

    /* Estilo en el título de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio h3{
        text-align: center;
        font-size: .7rem;
    }
    
    /* Estilo en el párrafo de tarjeta */
    .servicios .tarjetas-servicios .tarjeta-servicio .info-servicio p {
        margin-top: 10px;
        font-size: .5rem;
    }

    /* Tarjetas de planes */
    .tarjeta-plan {
        width: 90%;
        height: auto;
        box-sizing: border-box;
        padding: 20px;
        margin: 20px;
    }
 
    .tarjeta-plan .nombre-precio .nombre h3{
        font-size: 1rem;
    }

    .tarjeta-plan .nombre-precio h3, .tarjeta-plan .nombre-precio .precio .monto p {
        font-size: 1rem;
    }
  
    /* Beneficios dentro de las características */
    .tarjeta-plan .caracteristicas .beneficio{
        width: 40%;
    }

    .sucursales .contenedor-sucursales .tarjeta-sucursal {
        width: 35%;
        margin: 10px;
        height: 250px;
        padding: 10px;
    }

    .sucursales .contenedor-sucursales .tarjeta-sucursal .nombre-sucursal {
        width: 100%;
        margin-top: 10px;
        font-weight: 600;

    }
    
    .sucursales .contenedor-sucursales .tarjeta-sucursal .nombre-sucursal p {
        font-size: .8rem;
    }

    .div-p p {
        font-size: .65rem;
    }
}