@import url(../../reset.css);
@import url(../../fuentes.css);

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

/* Estilos para el header */
header {
    position: relative;
    width: 100%;
    height: 10%;
    display: inline-flex;
    justify-items: center;
    justify-content: space-between;
    box-shadow: 0 0 .4vw .2vw rgba(0,0,0,.3);
    z-index: 2;
}

/* Estilo del logo en link*/
header a {
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    text-decoration: none;
}

/* h1 en header */
header a h1 {
    width: 100%;
    font-size: 2.5vw;
    font-family: paytone;
    text-align: center;
    color: black;
}

header a h1 span {
    color: #ffa500;
}

/* Contenedor del header */
header .icono-header{
    /* Bordes y margenes */
    width: 10%;
    height: 100%;
    
    /* Estilos de fuente */
    color: white;
    font-family: rubik;
    font-size: 1.5vw;
    font-weight: 600;

    /* Estilos flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Lin dentro de contenedor de iconos*/
header .icono-header a {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

/* Estilos del icono */
header .icono-header .icono {
    width: 3.5vw;
    height: 3.5vw;
    background-color: #ffa500;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos del aside */
aside{
    /* Margenes y bordes */
    width: 20%;
    height: 90%;
    box-shadow: 0.1vw 0 0 0 rgba(0,0,0,.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

/* Contenedor de la información del usuario */
aside .user {
    padding-bottom: 10px;
    padding-top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Estilos para el icono de usuario */
aside #icono-user {
    background-color: #ffa500;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    
    font-weight: 600;
    font-size: 3vw;
    font-family: rubik;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

/* Estilos para el nombre de usuario */
aside .nombre-user{
    font-size: 1.6vw;
    font-family: rubik;
    text-align: center;
}

/* Estilos para el plan del usuario */
aside .plan-user {
    font-size: 1.3vw;
    text-align: center;
    font-family: rubik;
    font-weight: 600;
}

aside span {
    color: #ffa500;
}

/* Estilos para el ul del menú lateral */
aside .opciones-menu {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .logout-menu {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

/* Estilos para los elementos del menú */
aside li {
    width: 90%;
    margin: 4%;
    background-color: #fff;
    border-radius: 0.5vw;
    position: relative;
}

aside li h4 {
    margin-left: 20%;
}

/* Estilos para enlace en el menú */
aside li a {
    color: black;
    text-decoration: none;
    font-size: 1.3vw;
    width: 100%;
    height: 3vw;
    display: inline-flex;
    align-items: center;
    font-family: rubik;
    font-weight: 600;
}

aside a img {
    width: 2.5vw;
    position: absolute;
    margin-left: 2%;
}

aside a:hover{
    background-color: rgba(242, 180, 66, 0.25);
    color: #ffa500;
    border-radius: 0.5vw;
}

aside a #activo {
    opacity: 0;
}

aside a #inactivo {
    opacity: 1;
}

aside a:hover #inactivo {
    opacity: 0;
}

aside a:hover #activo {
    opacity: 1;
}

/* Estilo global para el contenedor main en perfiles */
main {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240,240,240);
}

/* Estilo global para contenedor en perfiles */
.contenedor {
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 1vw;
    box-shadow: 0 0 .3vw .03vw rgba(0,0,0,.3);

    /* Estilos flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

@media (max-width: 750px) {
    /* estilos del main */
    main {
        width: 92%;
        height: 90%;
        position: relative;
        left: 8%;
        z-index: 0;
    }

    /* Estilos del aside */
    aside{
        position: absolute;
        top: 10%;
        background-color: #fff;
        width: 8%;
        transition: all .4s;
        z-index: 1;
    }

    aside:hover{
        width: 30%;
    }

    aside .user {
        padding-bottom: 10px;
        padding-top: 12px;
    }

    /* Estilos para el icono de usuario */
    aside #icono-user {
        background-color: #ffa500;
        width: 5vw;
        height: 5vw;        
        font-size: 1.8vw;
        transition: all .4s;
    }

    aside:hover #icono-user {
        background-color: #ffa500;
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        font-size: 4vw;
    }

    /* Estilos para el nombre de usuario */
    aside .nombre-user{
        font-size: 0;
        transition: all .4s;
    }

    aside:hover .nombre-user{
        font-size: 2vw;
        font-family: rubik;
        text-align: center;
        display: block;
    }

    /* Estilos para el plan del usuario */
    aside .plan-user {
        margin-top: 5px;
    }

    aside:hover .plan-user {
        font-size: 1.8vw;
        text-align: center;
        font-family: rubik;
        font-weight: 600;
    }

    /* Estilos para los elementos del menú */
    aside li {
        width: 80%;
        margin: 4%;
        height: 4vw;
    }

    aside li h4 {
        font-size: 0;
        transition: all .4s;
    }

    aside:hover li h4 {
        display: block;
        font-size: 1.7vw;
        margin-left: 20%;
    }

    /* Estilos para enlace en el menú */
    aside li a {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    aside:hover li a {
        font-size: 1.6vw;
        justify-content: start;
        padding-left: 10px;
    }
}