/* Configuraciones del body */
body {
    margin: 0;
    padding: 0;
    

    /* Fondo de pantalla */
    background-image: url('../../img/user_img/cuentas/wallpaper.png');
    background-position: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    /* Fuente del texto */
    font-size: 1.6vw;
    font-family: Rubik;
}

/* Configuración de contenedor */

.contenedor {
    width: 50%;
    height: 100%;
    background-color: white;

    /* Contenedor flex box */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
}

/* Cabecera */
header {
    margin-top: 4%;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
}

/* Titulo */

header h1 {
    font-size: 3vw;
    font-family: Paytone;
}

header h1 span {
    color: #ffa500;
}

/* Subtitulo */
header h2 {
    font-size: 2vw;
    font-family: Rubiksemi;
}

/* Contenedor main */
main {
    width: 100%;
}

/* Configuración del formulario */
main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos generales para los input */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
select {
    width: 60%;
    height: 5vh;
    box-sizing: border-box;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: .1vw solid rgb(30, 30, 30);
    margin-bottom: 2vh;
    font-size: 1.3vw;
    font-family: rubik;
    padding-left: 1%;
}

input::placeholder {
    color: rgb(80, 80, 80);
}

/* Botones en formularios */
button {
    margin-top: 2%;
    width: 40%;
    height: 5vh;
    border: none;
    border-radius: 10px;
    background-color: #ffa500;
    font-size: 1.2vw;
    font-family: rubiksemi;
    cursor: pointer;
}

button:hover {
    scale: 1.03;

}

/* Links */
a {
    margin-top: 1vh;
    font-size: 1.1vw;
    text-decoration: none;
    color: black;
    font-family: rubiksemi;
}

a span {
    color: #ffa500;
}

a:hover span {
    color: #ec9e02;
}

a:hover {
    scale: 1.05;
}

@media  screen and (max-width: 920px) {
    .contenedor {
        width: 60%;
    }

    header h1 {
    font-size: 4vw;
    font-family: Paytone;
    }

    header h2 {
    font-size: 2.5vw;
    font-family: Rubiksemi;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="password"],
    select {
        font-size: 2vw;
    }

    button {
        font-size: 1.5vw;
    }

    a {
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 720px) {
    .contenedor {
        width: 70%;
    }

    header h1 {
        font-size: 6vw;
        font-family: Paytone;
    }

    header h2 {
        font-size: 4vw;
        font-family: Rubiksemi;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="password"],
    select {
        font-size: 3vw;
    }

    button {
        font-size: 2.5vw;
    }

    a {
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px) {
    .contenedor {
        width: 100%;
    }

    header h1 {
    font-size: 6vw;
    font-family: Paytone;
    }

    header h2 {
    font-size: 4vw;
    font-family: Rubiksemi;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="password"],
    select {
        font-size: 3vw;
    }

    button {
        font-size: 2.5vw;
    }

    a {
        font-size: 2vw;
    }
}