@import './../global_styles/fuentes.css';
@import './../global_styles/reset.css';

html {
    font-size: 1rem;
}

/* Quitar todos los eventos del puntero */
img,p,h1,h2,h3{pointer-events: none;}

/* Estilo del body */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #ECECEC;
}

/* Estilos del header */
header {
    width: 100%;
    height: 8%;
    box-shadow: 0 0 4px 4px rgba(0,0,0,.3);
    background-color: white;

    /* Flexbox */
    display: flex;
    align-items: center;

    justify-content: space-between;
    position: relative;
    z-index: 2;
}

/* Contenedor del logo */
header .logo {
    width: 18%;
    height: 100%;
    font-size: 2rem;
    background-color: red;
    font-family: paytone;

    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo span {
    color: #ffa500;
}

/* Contenedor del icono de ajustes */
header .setting {
    width: 10%;
    height: 100%;
    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Estilo del link en header */
header .setting a{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de imagen en el link */
header .setting a img {
    position: absolute;
    transition: 1s all;
}

/* Rotación de imagen */
header .setting a:hover img {
    transform: rotate(180deg);
}

/* imagen activa */
header a #activo {
    opacity: 0;
}
/* Hover de imagen activa */
header a:hover #activo {
    opacity: 1;
}

/* hover de imagen inactiva */
header a:hover #inactivo {
    opacity: 0;
}



aside {
    /* padding: 5px 5px 0; */
    position: relative;
    z-index: 1;
    height: 91%;
    width: 18%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside ul{
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside ul a {
    width: 95%;
    height: 4vh;
    margin: 5px 0;
    padding: 5px 3px;
    background-color: white;
    color: #635C50;
    border-radius: 5px;
    text-decoration: none;
    font-family: Rubik;
    display: flex;
    align-items: center;
    align-content: center;
}

aside .opcion {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

aside a #inactivo,
aside a #activo {
    position: absolute;
    left: 1%;
    width: 10%;
}

aside a #activo {
  opacity: 0;
}

aside a:hover #activo {
  opacity: 1;
}

aside a:hover #inactivo {
  opacity: 0;
}

.opcion h3 {
    position: relative;
    left: 20%;
    font-size: 1.3vw;
}

aside ul a li img {
    padding-left: 5px;
    margin-right: 5px;
}

aside ul a:hover, aside ul #activo:hover {
    scale: 1.009;
    color: #FCA502;
    background-color: rgba(252, 165, 2, 0.25);  
}

aside .usuario {
    height: 10%;
    width: 100%;
    background-color: #CFCFCF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

aside .usuario .icono {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    background-color: #F97316;
    color: white;
    border-radius: 50%;
    font-family: Rubik;
    margin-left: 20px;
}


aside .nombre-rol {
    margin-left: 10px;
    font-family: rubik;
}

aside .nombre-apellido {
    display: inline-flex;
    font-size: 1.3vw;
}

aside .nombre-apellido p:last-child {
    padding-left: 4px;
}

aside #rol-usuario {
    color: rgba(0,0,0,.7);
    font-size: 1.1vw;
}

button{
    cursor: pointer;
}

.contenedor_advertencia{display: none;}

@media screen and (max-width: 750px) {
    header,aside,main{display: none;}

    .contenedor_advertencia{
        align-items: center;
        background-color: rgba(0,0,0,.6);
        color: #fff;
        display: flex;
        font-family: Rubik;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }
    .contenedor_advertencia .advertencia{
        text-align: center;
        width: 80vw;
    }

}