@import './../global_styles/fuentes.css';
@import './../global_styles/reset.css';

html {
    font-size: 20px;
    overflow: hidden;
}

h1 {
    font-size: 1.7rem;
    font-family: paytone;
}

h2 {
    font-size: 1.6rem;
    font-family: rubiksemi;
}

/* Quitar todos los eventos del puntero */
img,p,h1,h2,h3{pointer-events: none;}


/* Estilo del body */
body {
    /* Margenes y tamaños */
    width: 100%;
    height: 100vh;

    /* Contenedor flex */
    display: flex;
    flex-wrap: wrap;

    /* Colores */
    background-color: #ECECEC;
}

main {
    width: 82%;
    height: 92%;
    padding: 25px;
    font-family: Rubik;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Estilos del header */
header {
    /* Margenes y tamaños */
    width: 100%;
    height: 8%; 

    /* Bordes y colores */
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
    background-color: white;

    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

/* Contenedor del logo */
header .logo {
    /* Margenes y tamaños */
    width: 18%;
    height: 100%;

    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo span {
    color: #ffa500;
}

/* Contenedor del icono de ajustes */
header .setting {
    /* Margenes y tamaños */
    width: 10%;
    height: 100%;

    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Estilo del link en header */
header .setting a{
    /* Margenes y tamaños */
    width: 100%;
    height: 100%;

    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de imagen en el link */
header .setting a img {
    position: absolute;
    transition: 1s all;
}

/* Rotación de imagen */
header .setting a:hover img {
    transform: rotate(180deg);
}

/* imagen activa */
header a #activo {
    opacity: 0;
}
/* Hover de imagen activa */
header a:hover #activo {
    opacity: 1;
}

/* hover de imagen inactiva */
header a:hover #inactivo {
    opacity: 0;
}

/* Estilos en el aside */
aside {
    /* Posición del contenedor */
    position: relative;

    /* Margenes, tamaños */
    height: 92%;
    width: 18%;

    /* Fondos y colores */
    background-color: white;

    /* Contenedor flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

/* Lista en el aside */
aside ul{
    /* Margenes y tamaños */
    width: 95%;
    height: 90%;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Links en lista */
aside ul a {
    /* Margenes y tamaños */
    width: 95%;
    height: 30px;
    margin: 10px 0;
    padding: 5px 3px;

    /* Colores y fondos */
    color: #635C50;

    /* Bordes */
    border-radius: 5px;

    /* Fuentes */
    text-decoration: none;
    font-family: Rubik;

    /* Flexbox */
    display: flex;
    align-items: center;
    align-content: center;
}

/* Li dentro de links */
aside .opcion {
    /* Margenes y tamaños */
    width: 100%;

    /* Flexbox */
    position: relative;
    display: flex;
    align-items: center;
}

/* Imágenes dentro de li */
aside a #inactivo,
aside a #activo {
    position: absolute;
    left: 1%;
    width: 1rem;
}

/* Filtro de imágenes */
aside a #activo {
  opacity: 0;
}

aside a:hover #activo {
  opacity: 1;
}

aside a:hover #inactivo {
  opacity: 0;
}

/* h3 en li */
.opcion h3 {
    position: relative;
    left: 20%;
    font-size: 1rem;
}

/* hover */
aside ul a:hover, aside ul #activo:hover {
    scale: 1.009;
    color: #FCA502;
    background-color: rgba(252, 165, 2, 0.25);  
}

/* informaciones de usuario */
aside .usuario {
    /* Margenes y tamaños */
    height: 10%;
    width: 100%;

    /* Colores */
    background-color: #CFCFCF;

    /* Flexbox */
    display: inline-flex;
    align-items: center;
    align-content: center;
}

aside .usuario .icono {
    /* Margenes y tamaños */
    width: 45px;
    height: 45px;
    margin-left: 20px;
    border-radius: 50%;

    /* Colores */
    background-color: #F97316;
    color: white;

    /* Fuentes */
    font-family: Rubik;
    font-size: 1rem;

    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

aside .nombre-rol {
    margin-left: 10px;
    font-family: rubik;
}

aside .nombre-apellido {
    display: inline-flex;
    font-size: 1rem
}

aside .nombre-apellido p:last-child {
    padding-left: 4px;
}

aside #rol-usuario {
    color: rgba(0,0,0,.7);
    font-size: .8rem;
}

button{
    cursor: pointer;
}

.contenedor_advertencia{display: none;}

@media (max-width: 1130px) {
    h1 {
        font-size: 1.4rem;
    }
    
    h2 {
        font-size: 1.3rem;
    }

    main p {
        font-size: .75rem;
    }

    /* Imágenes dentro de li */
    aside a #inactivo,
    aside a #activo {
        position: absolute;
        left: 1%;
        width: .9rem;
    }
 
    /* h3 en li */
    .opcion h3 {
        font-size: .9rem;
    }

    aside .usuario .icono {
        /* Margenes y tamaños */
        width: 40px;
        height: 40px;
        font-size: .8rem;
    }
    
    aside .nombre-apellido {
        display: inline-flex;
        font-size: .8rem
    }

    aside #rol-usuario {
        color: rgba(0,0,0,.7);
        font-size: .6rem;
    }
}

@media (max-width: 960px) {
    h1 {
        font-size: 1.2rem;
    }
    
    h2 {
        font-size: 1.1rem;
    }

    header .setting a img {
        position: absolute;
        transition: 1s all;
        width: 25px;
    }

    /* Imágenes dentro de li */
    aside a #inactivo,
    aside a #activo {
        position: absolute;
        left: 1%;
        width: .9rem;
    }
 
    /* h3 en li */
    .opcion h3 {
        font-size: .9rem;
    }

    aside .usuario .icono {
        /* Margenes y tamaños */
        width: 35px;
        height: 35px;
        margin-left: 10px;
        font-size: .7rem;
    }
    
    aside .nombre-apellido {
        display: inline-flex;
        font-size: .7rem
    }

    aside #rol-usuario {
        color: rgba(0,0,0,.7);
        font-size: .5rem;
    }
}

@media (max-width: 900px) {    

    main {
        width: 95%;
        margin-left: 5%;
    }

    /* Estilos en el aside */
    aside {
        position: absolute;
        width: 5%;
        top: 8%;
        display: flex;
        justify-content: center;
    }

    /* Imágenes dentro de li */
    aside a #inactivo,
    aside a #activo {
        position: absolute;
        left: 25%;
        width: 1rem;
    }

    aside h3 {
        display: none;
    }

    aside .usuario .icono {
        /* Margenes y tamaños */
        width: 35px;
        height: 35px;
        margin: 0 auto;
    }

    aside .usuario .nombre-apellido, aside .usuario .nombre-rol {
        display: none;
    }   
    

    
}

@media screen and (max-width: 800px) {
    header,aside,main{display: none;}

    .contenedor_advertencia{
        align-items: center;
        background-color: rgba(0,0,0,.6);
        color: #fff;
        display: flex;
        font-family: Rubik;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }
    .contenedor_advertencia .advertencia{
        text-align: center;
        width: 80vw;
    }

}