/* Importar los estilos de admin.css */
@import './admin.css';
@import './desplegables/desplegables.css';

/* Estilos del panel de control y contenedor de sucursal */
.panel-control {
    display: flex;
    justify-content: space-between;
}

/* Barra de búsqueda */
.panel-control .barra-de-busqueda {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 400px;   
}

.panel-control .barra-de-busqueda img {
    position: relative;
    left: 5px;
    z-index: 1;
}

.panel-control .barra-de-busqueda input {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: white;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    width: 100%;
}

/* Boton buscar */
.panel-control .barra-de-busqueda .boton-buscar {
    padding: 6px 12px;
    background-color: #f9f9f9;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    position: relative;
}

.panel-control .barra-de-busqueda .boton-buscar p {
    margin-top: 2px;
    margin-left: 8px;
}

.panel-control .barra-de-busqueda .boton-buscar img {
    width: 18px;
    margin-top: -2px;
    margin-left: -10px
}

/* Boton agregar nueva sucursal */
.panel-control .boton-agregar {
    background-color: #FCA502;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s;
    display: flex;
    position: relative;
}

.panel-control .boton-agregar img {
    text-align: left;
}

.panel-control .boton-agregar p {
    margin-top: 4px;
    margin-left: 5px;
}

.panel-control .boton-agregar:hover {
    background-color: #fca402da;
}

main button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

/* Contenedor de los contenidos o datos */
#contenedor_contenido{
    width: 100%;
    height: 70%;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #7B7B7B;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

#contenedor_contenido::-webkit-scrollbar {
    display: none;
}


/* Encabezado del contenido */
#contenedor_contenido .tabla-clientes{
    width: 100%;
    height: 100%;
}

#contenedor_contenido thead {
    background-color: #ffa500;
    height: 30px;  
}

#contenedor_contenido tbody {
    height: 88%;
}

#contenedor_contenido thead th {
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
    font-size: .9rem;
    font-family: rubik;
    color: white;
}

#contenedor_contenido thead #id-user {
    width: 5%;
    margin: auto 0;
}

#contenedor_contenido tbody td {
    padding-left: 10px;
    vertical-align: middle;
    font-size: .8rem;
}

#contenedor_contenido tbody #accion {
    text-align: center;
}

.despegable {
    right: 300px;
}

/* Transición a todos los botones */
main button{
    transition: all .15s;
    will-change: transform;
}
/* Hover a todos los botones */
main button:hover{
    cursor: pointer;
    transform: scale(.95);
}

a.disabled {
    pointer-events: none;     /* Bloquea el clic */
    cursor: not-allowed;      /* Cursor indica prohibido */
    display: inline-block;    /* Mantiene estructura */
    text-decoration: none;    /* Igual que los demás */
    width: 95%;
    height: 30px;
    margin: 10px 0;
    padding: 5px 3px;
    opacity: 0.5;
}
a.disabled li {
    display: flex;            /* Mantén la alineación del ícono y el texto */
    align-items: center;
    gap: 8px;                 /* Ajusta separación como los demás */
}

@media (max-width: 1130px) {

    .panel-control .boton-agregar p {
        font-size: .7rem;
    }

    #contenedor_contenido {
        overflow: hidden;
    }

    #contenedor_contenido thead {
        background-color: #ffa500;
        height: 25px;  
    }

    #contenedor_contenido thead th {
        font-size: .75rem;
    }

    #contenedor_contenido tbody td {
        font-size: .7rem;
    }
}

@media (max-width: 960px) {

    .panel-control .boton-agregar p {
        font-size: .7rem;
    }

    #contenedor_contenido {
        overflow: hidden;
    }

    #contenedor_contenido thead {
        background-color: #ffa500;
        height: 25px;  
    }

    #contenedor_contenido thead th {
        font-size: .7rem;
    }

    #contenedor_contenido tbody td {
        font-size: .65rem;
    }
}