@import './admin.css';
@import './desplegables/desplegables.css';

/* Tamaño del main */
main{
    box-sizing: border-box;
    font-family: Rubik;
    padding: 20px;
    width: 82%;
}

/* Contenedor de los contenedores */
.contenedor{
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
    height: 75vh;
    width: 100%;
}

/* Titulo del contenido */
.contenedor .encabezado h3{
    font-family: RubikSemi;
    font-size: 2vw;
}

/* Botón de nuevo usuario */
.contenedor #nuevo_usuario{
    align-items: center;
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    display: flex;
    font-weight: bold;
    margin-top: -40px;
    padding: 5px 10px;
    position: absolute;
    right: 40px;
}
/* Texto del botón de nuevo usuario */
.contenedor #nuevo_usuario p{
    margin-left: 5px;
}

/* Contenedor de los contenidos o datos */
#contenedor_contenido{
    background-color: white;
    border: 1px solid #7B7B7B;
    border-radius: 3px;
    box-sizing: border-box;
    height: calc(100% - 65px);
    max-height: 350px;
    margin-top: 20px;
    overflow-x: auto;
    padding: 20px;
}
/* Encabezado del contenido */
#contenedor_contenido .encabezado_contenido{
    /* Asignación de columnas y espaciados */
    display: grid;
    grid-template-columns: 20% 1fr 20% 15% 8%;
    gap: 15px;
    /* Estilos del contenido */
    border-bottom: 1px solid #7B7B7B;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: 1.4vw;
    min-width: 100%;
    padding: 15px;
    width: fit-content;
}

#contenedor_contenido #contenido{
    /* Asignación de columnas y espaciados */
    display: grid;
    grid-template-columns: 20% 1fr 20% 15% 8%;
    gap: 15px;
    /* Estilos del contenido */
    box-sizing: border-box;
    border-bottom: 1px solid #7B7B7B;
    font-size: 1.15vw;
    align-items: center;
    margin-top: 15px;
    min-width: 100%;
    padding: 10px;
    width: fit-content;
}

/* icono de acciones */
#contenedor_contenido #contenido img{
    display: block;
    margin: auto;
    width: .6vw;
}

/* Transición a todos los botones */
main button{
    transition: all .15s;
    will-change: transform;
}
/* Hover a todos los botones */
main button:hover{
    cursor: pointer;
    transform: scale(.95);
}

/* Desplegable del icono de acciones */
.desplegable{
    margin-top: 170px;
    right: 1vw;
}

#contenedor_contenido #contenido .desplegable h2{font-weight: lighter;}

