@import './admin.css';
@import './desplegables/desplegables.css';

/* Contenedor de los contenedores */
.contenedor{
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
    height: 75vh;
    width: 100%;
}

/* Titulo del contenido */
.contenedor .encabezado h3{
    font-family: RubikSemi;
    font-size: 2vw;
}

/* Botón de nuevo usuario */
.contenedor #nuevo_usuario{
    align-items: center;
    background-color: #ffa500;
    border: none;
    border-radius: 3px;
    color: white;
    display: flex;
    font-weight: bold;
    margin-top: -40px;
    padding: 5px 10px;
    position: absolute;
    right: 40px;
}
/* Texto del botón de nuevo usuario */
.contenedor #nuevo_usuario p{
    margin-left: 5px;
}

/* Contenedor de los contenidos o datos */
#contenedor_contenido{
    width: 100%;
    height: 80%;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #7B7B7B;
    border-radius: 3px;
    overflow: hidden;
}

/* Encabezado del contenido */
#contenedor_contenido .tabla-empleados{
    width: 100%;
    height: 100%;
}

#contenedor_contenido thead {
    background-color: #ffa500;
    height: 30px;  
}

#contenedor_contenido tbody {
    height: 88%;
}

#contenedor_contenido thead th {
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
    font-size: .9rem;
    font-family: rubik;
    color: white;
}

#contenedor_contenido thead #user-emp {
    width: 20%;
    margin: auto 0;
}

#contenedor_contenido thead #email-emp {
    width: 30%;
}

#contenedor_contenido thead #rol-emp {
    width: 15%;
}

#contenedor_contenido thead #accion-emp {
    text-align: center;
    width: 15%;
}

#contenedor_contenido tbody td {
    padding-left: 10px;
    font-size: .8rem;
}

#contenedor_contenido tbody .accion {
    text-align: center;
    cursor: pointer;
}

/* Transición a todos los botones */
main button{
    transition: all .15s;
    will-change: transform;
}
/* Hover a todos los botones */
main button:hover{
    cursor: pointer;
    transform: scale(.95);
}

.despegable {
    top: 100%;
}

a.disabled {
    pointer-events: none;     /* Bloquea el clic */
    cursor: not-allowed;      /* Cursor indica prohibido */
    display: inline-block;    /* Mantiene estructura */
    text-decoration: none;    /* Igual que los demás */
    width: 95%;
    height: 30px;
    margin: 10px 0;
    padding: 5px 3px;
    opacity: 0.5;
}
a.disabled li {
    display: flex;            /* Mantén la alineación del ícono y el texto */
    align-items: center;
    gap: 8px;                 /* Ajusta separación como los demás */
}