@import './admin.css';

/* Fuentes a los textos de main */
main {
    box-sizing: border-box;
    font-family: Rubik;
    padding: 25px;
    width: 82%;
    overflow-y: auto;
    height: 92vh;
}



.encabezado .subtitulo {
    font-size: 18px;
}

/* Contenedor para el display= flex */
.contenedor_flex {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

/* Estilos a actividades recientes */
.actividades_recientes {
    background-color: #F6F6F4;
    border: 1px solid #A6A6A6;
    border-radius: 8px;
    padding: 15px;
    margin-top: 30px;
}

.actividades_recientes h3 {
    font-family: RubikSemi;
    font-size: 1.5vw;
}

.actividades_recientes .subtitulo {
    color: #8A8A89;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 8px;
}

/* Estilo al contenedor flex */
.actividades_recientes .flex {
    display: flex;
    gap: 15px;
}

/* Estilos a los 2 contenedores de ingresos recientes y clientes recientes */
.ingresos_recientes,
.clientes_recientes {
    background-color: #fff;
    border: 1px solid #A6A6A6;
    border-radius: 8px;
    width: 50%;
    height: 280px;
    padding: 10px;

    

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos al encabezado de los 2 contenedores ingresos recientes y clientes recientes */
.ingresos_recientes .encabezado_actividades,
.clientes_recientes .encabezado_actividades {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.ingresos_recientes .encabezado_actividades h4,
.clientes_recientes .encabezado_actividades h4 {
    font-family: RubikSemi;
    font-size: 1.4vw;
}

.ingresos_recientes .encabezado_actividades a,
.clientes_recientes .encabezado_actividades a {
    color: black;
    font-size: 0.9vw;
    text-decoration: none;
    padding: 7px 6px;
}

.ingresos_recientes .encabezado_actividades a:hover,
.clientes_recientes .encabezado_actividades a:hover {
    transform: scale(0.95);
}

.ingresos_recientes .contenedor_contenido,
.clientes_recientes .contenedor_contenido{
    overflow: auto;
    height: 230px;
    width: 450px;
}

/* Estilos al encabezado de la tabla de ingresos recientes */
.ingresos_recientes .contenedor_contenido .encabezado_tabla_ingresos,
.clientes_recientes .contenedor_contenido .encabezado_tabla_clientes {
    background-color: #FCA502;
    color: #fff;
    font-size: 1vw;
    display: grid;
    grid-template-columns: 25% 18% 1fr 1fr;
    padding: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.301);
    margin-bottom: 8px;
    width: 430px;

    position: fixed;
}



/* Estilos al contenido de ingresos recientes */
.ingresos_recientes .contenedor_contenido .dashboard_contenido_ingresos,
.clientes_recientes .contenedor_contenido .dashboard_contenido_clientes{
    color: #5A5A5A;
    font-size: 1vw;
    display: grid;
    grid-template-columns: 25% 18% 1fr 1fr;
    padding: 8px 5px;
}

.ingresos_recientes .contenedor_contenido div:nth-child(2),
.clientes_recientes .contenedor_contenido div:nth-child(2){
    margin-top: 40px;
}

/* Estilos al contenido de ingresos recientes pero en amarillo */
.ingresos_recientes .contenedor_contenido div:nth-child(even),
.clientes_recientes .contenedor_contenido div:nth-child(even) {
    color: #5A5A5A;
    background-color: rgba(252, 165, 2, 0.2);
}

a.disabled {
    cursor: none;
    background-color: gray;
}

.opcion.deshabilitado {
    opacity: 2; /* grisado */
}
