@import './admin.css';
@import './desplegables/desplegables.css';

html {
    overflow:hidden;
}

body {
    background-color: #ECECEC;
}


/* Estilos del panel de control y contenedor de sucursal */
.panel-control {
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

/* Boton agregar nueva sucursal */
.panel-control .boton-agregar {
    background-color: #FCA502;
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    transition: .2s;
    display: flex;
}

/* Imagen del boton agregar */
.panel-control .boton-agregar img {
    text-align: left;
    height: 25px;
}

/* Parrafo del boton agregar */
.panel-control .boton-agregar p {
    margin-top: 5px;
    margin-left: 6px;
}

/* Hovers de los botones */
.panel-control .boton-agregar:hover {
    background-color: #fca402da;
}

main button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

/* Contenedor de sucural */
.contenedor-sucursal {
    width: 85%;
    height: 85%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    overflow: auto;
}

.contenedor-sucursal::-webkit-scrollbar {
    width: 5px;
}

.contenedor-sucursal::-webkit-scrollbar-thumb {
    background-color: #FCA502;
}

/* Estilos a la tarjeta de sucursal */
.contenedor-sucursal .tarjeta-sucursal {
    background-color: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    padding: 15px;
    width: 280px;
    height: 250px;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
}

/* Aplicando estilo a la imagen de la sucursal en la tarjeta */
.contenedor-sucursal .tarjeta-sucursal #imagen-sucursal {
    border-radius: 5px;
    width: 100%;
    height: 130px;
}

/* Aplicando estilos al encabezado de la tarjeta de sucursal */
.contenedor-sucursal .tarjeta-sucursal .encabezado-tarjeta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Aplicando estilo al h4 del encabezado de la tarjeta de sucursal */
.contenedor-sucursal .tarjeta-sucursal .encabezado-tarjeta h4 {
    font-size: .85rem;
    font-family: RubikSemi;
    margin-top: 3px;
}

.contenedor-sucursal .tarjeta-sucursal .encabezado-tarjeta a img {
    width: 90%;
}

/* Aplicando estilo a la ubicación de la sucursal con su icono */
.contenedor-sucursal .tarjeta-sucursal .ubicacion-sucursal {
    display: inline-flex;
    color: #525250;
    margin-top: 10px;
    width: 100%;
}

.ubicacion-sucursal P {
    font-size: .7rem;
}

.contenedor-sucursal .tarjeta-sucursal .ubicacion-sucursal img {
    width: 6%;
    margin-right: 3px;
}

/* Aplicando estilo al contenedor flex de la tarjeta de la sucursal */
.contenedor-sucursal .tarjeta-sucursal .flex {
    display: flex;
    gap: 5px;
    width: 100%;
    margin-top: 6px;
}

/* Aplicando estilo al teléfono de la sucursal */
.contenedor-sucursal .tarjeta-sucursal .telefono-sucursal {
    display: inline-flex;
    align-items: center;
    color: #525250;
    width: 46%;
}

.telefono-sucursal P {
    font-size: .6rem;
}

/* Aplicando estilo al horario de la sucursal */
.contenedor-sucursal .tarjeta-sucursal .horario-sucursal {
    display: inline-flex;
    align-items: center;
    color: #525250;
    width: 54%;
}

.contenedor-sucursal .tarjeta-sucursal .horario-sucursal P {
    font-size: .55rem;
}

/* Aplicando estilo a los 'p' de teléfono y horario de la sucursal */
.contenedor-sucursal .tarjeta-sucursal .flex .telefono-sucursal p,
.horario-sucursal p {
    margin-top: 3px;
}

/* Aplicando estilo a los iconos de teléfono y horario de la sucursal */
.contenedor-sucursal .tarjeta-sucursal .flex .telefono-sucursal img,
.horario-sucursal img {
    width: 15px;
    margin-right: 2px;
}


/* Desplegable del icono de acciones */
.desplegable{
    margin-left: 14rem;
}