@import './admin.css';
@import './desplegables/desplegables.css';

html {
    overflow:hidden;
}

body {
    background-color: #ECECEC;
}

main {
    box-sizing: border-box;
    font-family: Rubik;
    padding: 30px;
    width: 82%;
}

/* Estilos del encabezado */
.encabezado-sucursales {
    line-height: 1.5;
}

/* Estilos del panel de control y contenedor de sucursal */
.panel-control {
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

/* Boton agregar nueva sucursal */
.panel-control .boton-agregar {
    background-color: #FCA502;
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    transition: .2s;
    display: flex;
}

/* Imagen del boton agregar */
.panel-control .boton-agregar img {
    text-align: left;
    height: 25px;
}

/* Parrafo del boton agregar */
.panel-control .boton-agregar p {
    margin-top: 5px;
    margin-left: 6px;
}

/* Hovers de los botones */
.panel-control .boton-agregar:hover {
    background-color: #fca402da;
}

main button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

/* Contenedor de sucural */
.contenedor-sucursal {
    width: 99%;
    height: 420px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px 0;
    overflow: auto;
}

.contenedor-sucursal::-webkit-scrollbar {
    width: 5px;
}

.contenedor-sucursal::-webkit-scrollbar-thumb {
    background-color: #FCA502;
}

/* Estilos a la tarjeta de sucursal */
.contenedor-sucursal .tarjeta-sucursal {
    background-color: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 6px;
    padding: 15px;
    width: 230px;
    height: 200px;
    margin: 10px;
}

/* Aplicando estilo a la imagen de la sucursal en la tarjeta */
.contenedor-sucursal .tarjeta-sucursal #imagen-sucursal {
    border-radius: 5px;
    width: 100%;
}

/* Aplicando estilos al encabezado de la tarjeta de sucursal */
.contenedor-sucursal .tarjeta-sucursal .encabezado-tarjeta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Aplicando estilo al h4 del encabezado de la tarjeta de sucursal */
.contenedor-sucursal .tarjeta-sucursal .encabezado-tarjeta h4 {
    font-size: 1.1vw;
    font-family: RubikSemi;
    margin-top: 3px;
}

/* Aplicando estilo al p del encabezado de la tarjeta de sucursal */
.contenedor-sucursal .tarjeta-sucursal .encabezado-tarjeta p {
    background-color: #F97316;
    color: #fff;
    border-radius: 10px;
    font-size: 0.9vw;
    font-family: RubikSemi;
    padding: 4px 15px;
    margin-right: 15px;
}

/* Aplicando estilo al icono 'a' del encabezado sucursal */
.contenedor-sucursal .tarjeta-sucursal .encabezado-tarjeta a {
    width: 4%;
    margin-top: 3px;
}

.contenedor-sucursal .tarjeta-sucursal .encabezado-tarjeta a img {
    width: 90%;
}

/* Hover del icono */
.contenedor-sucursal .tarjeta-sucursal .encabezado-tarjeta a:hover {
    transform: scale(0.95);
}

/* Aplicando estilo a la ubicación de la sucursal con su icono */
.contenedor-sucursal .tarjeta-sucursal .ubicacion-sucursal {
    display: inline-flex;
    font-size: 0.95vw;
    color: #525250;
    margin-top: 10px;
    width: 100%;
}

.contenedor-sucursal .tarjeta-sucursal .ubicacion-sucursal img {
    width: 6%;
    margin-right: 3px;
}

/* Aplicando estilo al contenedor flex de la tarjeta de la sucursal */
.contenedor-sucursal .tarjeta-sucursal .flex {
    display: flex;
    gap: 5px;
    width: 100%;
    margin-top: 6px;
}

/* Aplicando estilo al teléfono de la sucursal */
.contenedor-sucursal .tarjeta-sucursal .telefono-sucursal {
    display: inline-flex;
    font-size: 0.83vw;
    color: #525250;
    width: 45%;
}

/* Aplicando estilo al horario de la sucursal */
.contenedor-sucursal .tarjeta-sucursal .horario-sucursal {
    display: inline-flex;
    font-size: 0.83vw;
    color: #525250;
    width: 60%;
}

/* Aplicando estilo a los 'p' de teléfono y horario de la sucursal */
.contenedor-sucursal .tarjeta-sucursal .flex .telefono-sucursal p,
.horario-sucursal p {
    margin-top: 3px;
}

/* Aplicando estilo a los iconos de teléfono y horario de la sucursal */
.contenedor-sucursal .tarjeta-sucursal .flex .telefono-sucursal img,
.horario-sucursal img {
    width: 12%;
    margin-right: 2px;
}


/* Desplegable del icono de acciones */
.desplegable{
    margin-left: 14rem;
}

a.disabled {
    pointer-events: none;     /* Bloquea el clic */
    cursor: not-allowed;      /* Cursor indica prohibido */
    display: inline-block;    /* Mantiene estructura */
    text-decoration: none;    /* Igual que los demás */
    width: 95%;
    height: 30px;
    margin: 10px 0;
    padding: 5px 3px;
    opacity: 0.5;
}
a.disabled li {
    display: flex;            /* Mantén la alineación del ícono y el texto */
    align-items: center;
    gap: 8px;                 /* Ajusta separación como los demás */
}

/* Media required para pantallas de 1280px */
@media screen and (max-width: 1280px) {
    
}