<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAMARFIT</title>
    {% load static %}
    <!-- Enlace al css -->
    <link rel="stylesheet" href="{% static 'css/user_styles/index.css' %}">
</head>

<body>
    <!-- Barra de navegación -->
    <header class="cabecera">
        <div class="logo">
            <a href="{% url 'index' %}">
                <h1>HAMAR<span>FIT</span></h1>
            </a>
        </div>

        <nav class="menu-navegacion">
            <ul>
                <li><a href="#beneficios">¿Por qué elegirnos?</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#planes">Planes</a></li>
                <li><a href="#sucursales">Sucursales</a></li>
            </ul>
        </nav>

        <div class="botones-navegacion">
            <button id="inicio-sesion" style="color: #333;">
                <a href="{% url 'logout_user' %}">Cerrar Sesión</a>
            </button>
        </div>

    </header>

    <!-- Sección principal -->
    <section id="principal" class="principal">
        <h2>TRANSFORMA TU CUERPO<br><span>TRANSFORMA TU VIDA.</span></h2>
        <p>Únete a la comunidad fitness más completa con entrenadores profesionales y equipamiento de última
            generación.</p>
        <!-- Link a otro HTML -->
    </section>

    <!-- Sección de beneficios -->
    <section id="beneficios" class="beneficios">

        <div class="subtitulo-parrafo">
            <h2>¿Por qué elegir <span id="negro">HAMAR<span id="naranja">FIT</span></span>?</h2>
            <p class="subtitulo">Ofrecemos todo lo que necesitas para alcanzar tus objetivos fitness</p>
        </div>

        <div class="tarjetas-beneficios">
            <div class="tarjeta">
                <div class="iconos">
                    <div class="icono">
                        <img src="{% static 'img/user_img/index/iconos/dumbbell 1.png' %}" alt="">
                    </div>
                </div>
                <h3>Equipamiento Premium</h3>
                <p>Contamos con máquinas de última generación y pesos libres para todo tipo de entrenamiento.</p>
            </div>

            <div class="tarjeta">
                <div class="iconos">
                    <div class="icono">
                        <img src="{% static 'img/user_img/index/iconos/users 3.png' %}" alt="">
                    </div>
                </div>
                <h3>Entrenadores Expertos</h3>
                <p>Nuestro equipo de profesionales certificados te guiará en cada paso de tu entrenamiento.</p>
            </div>

            <div class="tarjeta">
                <div class="iconos">
                    <div class="icono">
                        <img src="{% static 'img/user_img/index/iconos/Muscle.png' %}" alt="">
                    </div>
                </div>
                <h3>Rutinas adaptables</h3>
                <p>Con rutinas de entrenamientos que se adaptan dependiendo de tus metas físicas.
                </p>
            </div>
        </div>
    </section>

    <!-- Sección de servicios -->
    <section id="servicios" class="servicios">

        <div class="subtitulo-parrafo">
            <h2>Nuestros Servicios</h2>
            <p class="parrafo">Explora los servicios que tenemos diseñados especialmente para ti y alcanza tus objetivos de salud y bienestar.</p>
        </div>

        <!-- Contenedor de tarjetas -->
        <div class="tarjetas-servicios">
            <div class="tarjeta-servicio">
                <div class="imagen-servicio">
                    <img src="{% static 'img/user_img/index/images 2.jpeg' %}" alt="Entrenamiento personal">
                </div>
                <div class="info-servicio">
                    <h3>Entrenamiento personal</h3>
                    <p>Nuestros entrenadores crean rutinas personalizadas, buscando mejorar la técnica, maximizar resultados y prevenir lesiones.</p>
                </div>
            </div>

            <div class="tarjeta-servicio">
                <div class="imagen-servicio">
                    <img src="{% static 'img/user_img/index/download 3.png' %}" alt="Clases grupales">
                </div>
                <div class="info-servicio">
                    <h3>Clases grupales</h3>
                    <p>Ofrecemos clases como yoga, pilates, spinning y HIIT, guiadas por instructores que te inspirarán constantemente.</p>
                </div>
            </div>

            <div class="tarjeta-servicio">
                <div class="imagen-servicio">
                    <img src="{% static 'img/user_img/index/images 3.png' %}" alt="Acceso a maquinaria">
                </div>
                <div class="info-servicio">
                    <h3>Acceso a maquinaria</h3>
                    <p>Disfruta de equipos como cintas, bicicletas estáticas y pesas libres, ideales para entrenamientos de fuerza y cardio.</p>
                </div>
            </div>

            <div class="tarjeta-servicio">
                <div class="imagen-servicio">
                    <img src="{% static 'img/user_img/index/download 4.png' %}" alt="Área de relajación y bienestar">
                </div>
                <div class="info-servicio">
                    <h3>Área de relajación y bienestar</h3>
                    <p>Relájate en nuestra sauna, baño de vapor o jacuzzi, perfectos para recuperar tus músculos después del entrenamiento.</p>
                </div>
            </div>

            <div class="tarjeta-servicio">
                <div class="imagen-servicio">
                    <img src="{% static 'img/user_img/index/images 4.png' %}" alt="Nutrición y asesoría dietética">
                </div>
                <div class="info-servicio">
                    <h3>Nutrición y asesoría dietética</h3>
                    <p>Nuestros nutricionistas te ayudaran a crear planes de alimentación personalizados para lograr tus objetivos.</p>
                </div>
            </div>

            <div class="tarjeta-servicio">
                <div class="imagen-servicio">
                    <img src="{% static 'img/user_img/index/especializado.png' %}" alt="Entrenamiento especializado">
                </div>
                <div class="info-servicio">
                    <h3>Entrenamiento especializado</h3>
                    <p>Ofrecemos programas enfocados en rehabilitación, deportes o mejora de fuerza específica para atletas de nivel avanzado.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de precios -->
    <section id="planes" class="planes">

        <div class="subtitulo-parrafo">
            <h2>Planes y Precios</h2>
            <p class="subtitulo">Elige el plan que mejor se adapte a tus necesidades</p>
        </div>

        <div class="tarjetas-planes">
            <div class="tarjeta-plan plan-pro">
                <div class="nombre-precio">
                    <div class="nombre">
                        <h3>Plan<span id="pro">Pro</span></h3>
                    </div>
                    <div class="precio">
                        <span class="monto"><p>$2,000</p></span>
                        <span class="periodo"><p>/mes</p></span>
                    </div>
                </div>
                <ul class="caracteristicas">
                    <li class="beneficio incluido">
                        <img src="{% static 'img/user_img/index/iconos/check.png' %}" alt="">
                        <p>Acceso a musculación</p>
                    </li>
                    <li class="beneficio incluido">
                        <img src="{% static 'img/user_img/index/iconos/check.png' %}" alt="">
                        <p>Clases grupales ilimitadas</p>
                    </li>
                    <li class="beneficio incluido">
                        <img src="{% static 'img/user_img/index/iconos/check.png' %}" alt="">
                        <p>Rutina de entrenamiento incluida</p>
                    </li>
                    <li class="beneficio incluido">
                        <img src="{% static 'img/user_img/index/iconos/check.png' %}" alt="">
                        <p>Uso libre de lockers</p>
                    </li>
                    <li class="beneficio incluido">
                        <img src="{% static 'img/user_img/index/iconos/check.png' %}" alt="">
                        <p>Asesoramiento personalizado</p>
                    </li>
                    <li class="beneficio incluido">
                        <img src="{% static 'img/user_img/index/iconos/check.png' %}" alt="">
                        <p>Descuentos en suplementos</p>
                    </li>
                </ul>
            </div>

            <div class="tarjeta-plan plan-basico">
                <div class="nombre-precio">
                    <div class="nombre">
                        <h3>Plan <span id="basico">Básico</span></h3>
                    </div>
                    <div class="precio">
                        <span class="monto"><p>$1,500</p></span>
                        <span class="periodo"><p>/mes</p></span>
                    </div>
                </div>
                <ul class="caracteristicas">
                    <li class="beneficio incluido">
                        <img src="{% static 'img/user_img/index/iconos/check.png' %}" alt="">
                        <p>Acceso a musculación</p>
                    </li>
                    <li class="beneficio no-incluido">
                        <img src="{% static 'img/user_img/index/iconos/x.png' %}" alt="">
                        <p>Clases grupales ilimitadas </p>
                    </li>
                    <li class="beneficio incluido">
                        <img src="{% static 'img/user_img/index/iconos/check.png' %}" alt="">
                        <p>Rutina de entrenamiento incluida</p>
                    </li>
                    <li class="beneficio no-incluido">
                        <img src="{% static 'img/user_img/index/iconos/x.png' %}" alt="">
                        <p>Uso libre de lockers</p>
                    </li>
                    <li class="beneficio incluido">
                        <img src="{% static 'img/user_img/index/iconos/check.png' %}" alt="">
                        <p>Asesoramiento personalizado</p>
                    </li>
                    <li class="beneficio no-incluido">
                        <img src="{% static 'img/user_img/index/iconos/x.png' %}" alt="">
                        <p>Descuentos en suplementos</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="sucursales">
        <h2>Nuestras Sucursales</h2>
        <div class="contenedor-sucursales">
            
            <div class="tarjeta-sucursal">
                <div class="imagen">
                    <img src="{% static 'img/user_img/index/sucursal2.png' %}" alt="">
                </div>

                <div class="nombre-sucursal">
                    <p>Nombre sucursal</p>
                </div>

                <div class="direccion-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/map-pin 2.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>Dirección de la sucursal </p>
                    </div>
                </div>

                <div class="telefono-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/phone 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>809-451-1235</p>
                    </div>
                </div>

                <div class="horario-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/clock 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>10:30 AM - 15:43 PM</p>
                    </div>
                </div>
            </div>

            <div class="tarjeta-sucursal">
                <div class="imagen">
                    <img src="{% static 'img/user_img/index/sucursal3.png' %}" alt="">
                </div>

                <div class="nombre-sucursal">
                    <p>Nombre sucursal</p>
                </div>

                <div class="direccion-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/map-pin 2.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>Dirección de la sucursal </p>
                    </div>
                </div>

                <div class="telefono-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/phone 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>809-451-1235</p>
                    </div>
                </div>

                <div class="horario-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/clock 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>10:30 AM - 15:43 PM</p>
                    </div>
                </div>
            </div>

            <div class="tarjeta-sucursal">
                <div class="imagen">
                    <img src="{% static 'img/user_img/index/hamarfit-central.png' %}" alt="">
                </div>

                <div class="nombre-sucursal">
                    <p>Nombre sucursal</p>
                </div>

                <div class="direccion-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/map-pin 2.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>Dirección de la sucursalas</p>
                    </div>
                </div>

                <div class="telefono-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/phone 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>809-451-1235</p>
                    </div>
                </div>

                <div class="horario-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/clock 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>10:30 AM - 15:43 PM</p>
                    </div>
                </div>
            </div>

            <div class="tarjeta-sucursal">
                <div class="imagen">
                    <img src="{% static 'img/user_img/index/sucursal2.png' %}" alt="">
                </div>

                <div class="nombre-sucursal">
                    <p>Nombre sucursal</p>
                </div>

                <div class="direccion-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/map-pin 2.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>Dirección de la sucursal </p>
                    </div>
                </div>

                <div class="telefono-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/phone 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>809-451-1235</p>
                    </div>
                </div>

                <div class="horario-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/clock 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>10:30 AM - 15:43 PM</p>
                    </div>
                </div>
            </div>

            <div class="tarjeta-sucursal">
                <div class="imagen">
                    <img src="{% static 'img/user_img/index/sucursal2.png' %}" alt="">
                </div>

                <div class="nombre-sucursal">
                    <p>Nombre sucursal</p>
                </div>

                <div class="direccion-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/map-pin 2.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>Dirección de la sucursal </p>
                    </div>
                </div>

                <div class="telefono-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/phone 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>809-451-1235</p>
                    </div>
                </div>

                <div class="horario-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/clock 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>10:30 AM - 15:43 PM</p>
                    </div>
                </div>
            </div>

            <div class="tarjeta-sucursal">
                <div class="imagen">
                    <img src="{% static 'img/user_img/index/sucursal2.png' %}" alt="">
                </div>

                <div class="nombre-sucursal">
                    <p>Nombre sucursal</p>
                </div>

                <div class="direccion-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/map-pin 2.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>Dirección de la sucursal </p>
                    </div>
                </div>

                <div class="telefono-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/phone 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>809-451-1235</p>
                    </div>
                </div>

                <div class="horario-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/clock 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>10:30 AM - 15:43 PM</p>
                    </div>
                </div>
            </div>

            <div class="tarjeta-sucursal">
                <div class="imagen">
                    <img src="{% static 'img/user_img/index/sucursal2.png' %}" alt="">
                </div>

                <div class="nombre-sucursal">
                    <p>Nombre sucursal</p>
                </div>

                <div class="direccion-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/map-pin 2.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>Dirección de la sucursal </p>
                    </div>
                </div>

                <div class="telefono-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/phone 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>809-451-1235</p>
                    </div>
                </div>

                <div class="horario-sucursal">
                    <div class="div-img">
                        <img src="{% static 'img/user_img/index/iconos-sucursales/clock 1.svg' %}" alt="">
                    </div>
                    <div class="div-p">
                        <p>10:30 AM - 15:43 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>