<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global_styles/fuentes.css' %}">
    <link rel="stylesheet" href="{% static 'css/global_styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_styles/regitro-miembro.css' %}">
</head>

<body>
    <div class="contenedor">
        <header>
            <div id="logo">
                <h1>HAMAR<span>FIT</span></h1>
                <h2>Registro</h2>
            </div>
        </header>

        <main>
            <form id="registro_usuario" method="POST" action="{% url 'user/registro' %}" autocomplete="off">
                {% csrf_token %}

                <input type="text" id="nombre" name="nombre_cliente" required placeholder="Nombre">

                <input type="text" id="apellido" name="apellido_cliente" required placeholder="Apellido">

                <select id="tipo-documento" name="tipo_documento">
                    <option value="---" disabled selected>Tipo de documento</option>
                    <option value="cedula">Cédula</option>
                    <option value="pasaporte">Pasaporte</option>
                </select>

                <input type="text" id="documento" name="documento_cliente" required autocomplete="off" placeholder="Documento" required>

                <input type="email" id="correo" name="correo_cliente" required placeholder="Correo">

                <input type="tel" id="telefono" name="telefono_cliente" required autocomplete="off" placeholder="Teléfono">

                <input type="text" id="direccion" name="direccion_cliente" required autocomplete="off" placeholder="Dirección">

                <input type="password" id="contrasena" name="contrasena_cliente" required autocomplete="off" placeholder="Contraseña">

                <input type="password" id="confirmar-contrasena" name="confirmar_contrasena" required autocomplete="off"
                    placeholder="Confirmar contraseña">
                <button type="submit">Continuar Registro</button>
                <a href="{% url 'admin/login'%}">¿Ya tienes una cuenta? <span>Inicia sesión</span></a>
            </form>
        </main>
    </div>
</body>

</html>