<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_styles/dashboard.css' %}">
    <title>Admin | Dashboard</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1>HAMAR<span>FIT</span></h1>
        </div>

        <div class="setting">
            {% if empleado.id_rol.rol in 'Admin,Gerente' %}
                <a href="{% url 'admin/configuracion'%}">
                    <img src="{% static 'img/admin_img/menu/settings.svg' %}" alt="" id="inactivo">
                    <img src="{% static 'img/admin_img/menu/activos/settings-activo.svg' %}" alt="" id="activo">
                </a>
            {% else %}
                <a class="disabled">
                    <img src="{% static 'img/admin_img/menu/settings.svg' %}" alt="">
                </a>
            {% endif %}
        </div>
    </header>
    <aside class="menu">
        <ul id="opciones-menu">
            <a href="{% url 'admin/'%}">
                <li class="opcion">
                    <img src="{% static 'img/admin_img/menu/activos/dashboard-activo.svg' %}" alt="" id="activo">
                    <img src="{% static 'img/admin_img/menu/dashboard.svg' %}" alt="" id="inactivo">
                    <h3>Dashboard</h3>
                </li>
            </a>
            {% if empleado.id_rol.rol in 'Admin,Gerente,Entrenador,Recepcionista' %}
                <a href="{% url 'admin/clientes'%}">
                    <li class="opcion">
                        <img src="{% static 'img/admin_img/menu/activos/clientes-activo.svg' %}" alt="" id="activo">
                        <img src="{% static 'img/admin_img/menu/clientes.svg' %}" alt="" id="inactivo">
                        <h3>Clientes</h3>
                    </li>
                </a>
            {% else %}
                <a class="disabled">
                    <li class="opcion_desabilitada">
                        <img src="{% static 'img/admin_img/menu/clientes.svg' %}" alt="">
                        <h3>Clientes</h3>
                    </li>
                </a>
            {% endif %}

            {% if empleado.id_rol.rol in 'Admin,Gerente' %}
                <a href="{% url 'admin/sucursales'%}">
                    <li class="opcion">
                        <img src="{% static 'img/admin_img/menu/activos/sucursales-activo.svg' %}" alt="" id="activo">
                        <img src="{% static 'img/admin_img/menu/sucursales.svg' %}" alt="" id="inactivo">
                        <h3>Sucursales</h3>
                    </li>
                </a>
            {% else %}
                <a class="disabled">
                    <li class="opcion_desabilitada">
                        <img src="{% static 'img/admin_img/menu/sucursales.svg' %}" alt="">
                        <h3>Sucursales</h3>
                    </li>
                </a>
            {% endif %}

            {% if empleado.id_rol.rol in 'Admin,Recepcionista' %}
                <a href="{% url 'admin/inscripciones_renovaciones'%}">
                    <li class="opcion">
                        <img src="{% static 'img/admin_img/menu/activos/finanzas-activo.svg' %}" alt="" id="activo">
                        <img src="{% static 'img/admin_img/menu/finanzas.svg' %}" alt="" id="inactivo">
                        <h3>Insc y Reno</h3>
                    </li>
                </a>
            {% else %}
                <a class="disabled">
                    <li class="opcion_desabilitada">
                        <img src="{% static 'img/admin_img/menu/finanzas.svg' %}" alt="" >
                        <h3>Insc y Reno</h3>
                    </li>
                </a>
            {% endif %}

            <a id="cerrar-sesion" href="">
                <li class="opcion">
                    <img src="{% static 'img/admin_img/menu/activos/Logout-activo.svg' %}" alt="" id="activo">
                    <img src="{% static 'img/admin_img/menu/Logout.svg' %}" alt="" id="inactivo">
                    <h3>Cerrar sesión</h3>
                </li>
            </a>
        </ul>

        <div class="usuario">
            <div class="icono">
                <p id="icono-usuario">
                    {{ empleado.nombre_empleado|slice:":1" }}{{ empleado.apellido_empleado|slice:":1" }}</p>
            </div>
            <div class="nombre-rol">
                <div class="nombre-apellido">
                    <p id="nombre-usuario">{{ empleado.nombre_empleado }}</p>
                    <p id="apellido-usuario">{{ empleado.apellido_empleado }}</p>
                </div>
                <p id="rol-usuario">{{ empleado.id_rol.rol }}</p>
            </div>
        </div>
    </aside>
    <main>
        <!-- Encabezado de la página -->
        <div class="encabezado">
            <h2>Dashboard</h2>
            <p class="subtitulo">Bienvenido al panel de control de HamarFit</p>
        </div>

        <!-- Div de actividades recientes -->
        <div class="actividades_recientes">
            <h3>Actividades Recientes</h3>
            <p class="subtitulo">Eventos Realizados recientemente</p>


            <div class="flex">
                <!-- Contenedor de ingresos recientes -->
                <div class="ingresos_recientes">
                    <!-- Encabezado de la actividad "Ingresos" -->
                    <div class="encabezado_actividades">
                        <!-- Div con el título y subtítulo -->
                        <div>
                            <h4>Renovaciones </h4>
                            <p class="subtitulo">Últimas renovaciones registradas</p>
                        </div>
                        <!-- Enlace al apartado de finanzas -->
                    </div>

                    <!-- Contenedor de los contenedores de datos -->
                    <div class="contenedor_contenido">
                        <!-- Contenedor de los encabezados -->
                        <div class="encabezado_tabla_ingresos">
                            <p>Fecha</p>
                            <p>Plan</p>
                            <p>Cliente</p>
                            <p>Empleado</p>
                        </div>

                        <!-- Contenedor de los datos -->
                        {% for renovacion in renovaciones %}
                        <div class="dashboard_contenido_ingresos">
                            <p>{{renovacion.emision}}</p>
                            <p>{{renovacion.id_plan.nombre_plan}}</p>
                            <p>{{renovacion.id_cliente.nombre_cliente}} {{renovacion.id_cliente.apellido_cliente}}</p>
                            <p>{{renovacion.id_empleado.nombre_empleado}} {{renovacion.id_empleado.apellido_empleado}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>


                <!-- Contenedor de clientes resientes -->
                <div class="clientes_recientes">
                    <!-- Encabezado de la actividad "Ingresos" -->
                    <div class="encabezado_actividades">
                        <!-- Div con el título y subtítulo -->
                        <div>
                            <h4>Clientes </h4>
                            <p class="subtitulo">Últimos Clientes agregados al sistema</p>
                        </div>
                        <!-- Enlace al apartado de finanzas -->
                    </div>

                    <!-- Contenedor de los contenedores de datos -->
                    <div class="contenedor_contenido">
                        <!-- Contenedor de los encabezados -->
                        
                        <div class="encabezado_tabla_clientes">
                            <p>Fecha</p>
                            <p>Plan</p>
                            <p>Cliente</p>
                            <p>Empleado</p>
                        </div>
                        <!-- Contenedor de los datos -->
                        {% for inscripcion in inscripciones %}
                        <div class="dashboard_contenido_clientes">
                            <p>{{inscripcion.emision}}</p>
                            <p>{{inscripcion.id_plan.nombre_plan}}</p>
                            <p>{{inscripcion.id_cliente.nombre_cliente}} {{inscripcion.id_cliente.apellido_cliente}}</p>
                            <p>{{inscripcion.id_empleado.nombre_empleado}} {{inscripcion.id_empleado.apellido_empleado}}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="contenedor_advertencia">
        <p class="advertencia">Su pantalla no cumple con los requisitos mínimos (800px de ancho)</p>
    </div>
</body>

</html>