<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_styles/finanzas.css' %}">
    <title>Admin | Finanzas</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1>HAMAR<span>FIT</span></h1>
        </div>
        <div class="setting">
            <a href="{% url 'admin/configuracion' %}">
                <img src="{% static 'img/admin_img/menu/settings.svg' %}" alt="" id="inactivo">
                <img src="{% static 'img/admin_img/menu/activos/settings-activo.svg' %}" alt="" id="activo">
            </a>
        </div>
    </header>
    <aside class="menu">
        <ul id="opciones-menu">
            <a href="{% url 'admin/dashboard' %}">
                <li class="opcion">
                    <img src="{% static 'img/admin_img/menu/activos/dashboard-activo.svg' %}" alt="" id="activo">
                    <img src="{% static 'img/admin_img/menu/dashboard.svg' %}" alt="" id="inactivo">
                    <h3>Dashboard</h3>
                </li>
            </a>
            <a href="{% url 'admin/clientes' %}">
                <li class="opcion">
                    <img src="{% static 'img/admin_img/menu/activos/clientes-activo.svg' %}" alt="" id="activo">
                    <img src="{% static 'img/admin_img/menu/clientes.svg' %}" alt="" id="inactivo">
                    <h3>Clientes</h3>
                </li>
            </a>
            <a href="{% url 'admin/sucursales' %}">
                <li class="opcion">
                    <img src="{% static 'img/admin_img/menu/activos/sucursales-activo.svg' %}" alt="" id="activo">
                    <img src="{% static 'img/admin_img/menu/sucursales.svg' %}" alt="" id="inactivo">
                    <h3>Sucursales</h3>
                </li>
            </a>
            <a href="{% url 'admin/finanzas' %}">
                <li class="opcion">
                    <img src="{% static 'img/admin_img/menu/activos/finanzas-activo.svg' %}" alt="" id="activo">
                    <img src="{% static 'img/admin_img/menu/finanzas.svg' %}" alt="" id="inactivo">
                    <h3>Finanzas</h3>
                </li>
            </a>
        </ul>
        <div class="usuario">
            <div class="icono">
                <p id="icono-usuario">J</p>
            </div>
            <div class="nombre-rol">
                <div class="nombre-apellido">
                    <p id="nombre-usuario">José</p>
                    <p id="apellido-usuario">Miguel</p>
                </div>
                <p id="rol-usuario">Administrador</p>
            </div>
        </div>
    </aside>

    <main>
        <div class="encabezado">
            <h2>Finanzas</h2>
            <p>Gestiona tus ganancias y gastos</p>
        </div>

        <div class="contenedor_busqueda">
            <div class="barra_busqueda">
                <!-- icono de la lupa -->
                <img src="{% static 'img/admin_img/global/lupa.svg' %}" alt="">
                <input type="search" id="buscador" placeholder="Buscar sucursales...">
            </div>
            <button id="boton_buscar">
                <!-- Icono de la lupa -->
                <img src="{% static 'img/admin_img/global/lupa.svg' %}" alt="">
                <p>Buscar</p>
            </button>

            <button id="registrar_transaccion"
                onclick="agregar_popup('/html/admin/desplegables/finanzas/registrar_transaccion.html')">
                <img src="{% static 'img/admin_img/global/registrar_transaccion.svg' %}" alt="">
                <p>Registrar transacción</p>
            </button>
        </div>

        <div id="contenedor_contenido">
            <div class="encabezado_contenido">
                <p>ID</p>
                <p>Fecha</p>
                <p>Descripción</p>
                <p>Membresía</p>
                <p>Cliente</p>
                <p>Monto</p>
                <p>Acción</p>
            </div>

            <div id="contenido">
                <p>1</p>
                <p>16/05/2025</p>
                <p>Renovación Plan anual</p>
                <p>Plan Pro</p>
                <p>María Rodríguez</p>
                <p>$1,200.00</p>
                <div class="div_acciones" onclick="visible()">
                    <img src="{% static 'img/admin_img/global/tres_puntos.svg' %}">
                </div>
                <!-- Desplegable de acciones -->
                <div class="desplegable" id="desplegable">
                    <div class="encabezado_desplegable">
                        <h2>Acciones</h2>
                        <button onclick="cerrar_desplegable()" class="x">
                            <img src="{% static 'img/admin_img/global/x.svg' %}">
                        </button>
                    </div>
                    <div class="div_detalles"
                        onclick="agregar_popup('/html/admin/desplegables/detalles_de_factura.html')"
                        title="Ver detalles">
                        <img src="{% static 'img/admin_img/global/ojo.svg' %}">
                        <p>Ver detalles</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="contenedor_popup">
            <!-- Aquí se van a agregar los pop ups -->
        </div>
    </main>

    <div class="contenedor_advertencia">
        <p class="advertencia">Su pantalla no cumple con los requisitos mínimos (750px de ancho)</p>
    </div>
    <script src="{% static 'js/admin_js/desplegables.js' %}"></script>
</body>

</html>