<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Sucursales</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_styles/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/global_styles/fuentes.css' %}">
    <link rel="stylesheet" href="{% static 'css/global_styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_styles/sucursales.css' %}">
</head>

<body>
    <header>
        <div class="logo">
            <h1>HAMAR<span>FIT</span></h1>
        </div>
        <div class="setting">
            {% if empleado.id_rol.rol in 'Admin,Gerente' %}
            <a href="{% url 'admin/configuracion'%}">
                <img src="{% static 'img/admin_img/menu/settings.svg' %}" alt="" id="inactivo">
                <img src="{% static 'img/admin_img/menu/activos/settings-activo.svg' %}" alt="" id="activo">
            </a>
            {% else %}
            <a class="disabled">
                <img src="{% static 'img/admin_img/menu/settings.svg' %}" alt="">
            </a>
            {% endif %}
        </div>
    </header>
    <aside class="menu">
        <ul id="opciones-menu">
            <a href="{% url 'admin/' %}">
                <li class="opcion">
                    <img src="{% static 'img/admin_img/menu/activos/dashboard-activo.svg' %}" alt="" id="activo">
                    <img src="{% static 'img/admin_img/menu/dashboard.svg' %}" alt="" id="inactivo">
                    <h3>Dashboard</h3>
                </li>
            </a>
            {% if empleado.id_rol.rol in 'Admin,Gerente,Entrenador,Recepcionista' %}
                <a href="{% url 'admin/clientes'%}">
                    <li class="opcion">
                        <img src="{% static 'img/admin_img/menu/activos/clientes-activo.svg' %}" alt="" id="activo">
                        <img src="{% static 'img/admin_img/menu/clientes.svg' %}" alt="" id="inactivo">
                        <h3>Clientes</h3>
                    </li>
                </a>
            {% else %}
                <a class="disabled">
                    <li class="opcion_desabilitada">
                        <img src="{% static 'img/admin_img/menu/clientes.svg' %}" alt="">
                        <h3>Clientes</h3>
                    </li>
                </a>
            {% endif %}

            {% if empleado.id_rol.rol in 'Admin,Gerente' %}
                <a href="{% url 'admin/sucursales'%}">
                    <li class="opcion">
                        <img src="{% static 'img/admin_img/menu/activos/sucursales-activo.svg' %}" alt="" id="activo">
                        <img src="{% static 'img/admin_img/menu/sucursales.svg' %}" alt="" id="inactivo">
                        <h3>Sucursales</h3>
                    </li>
                </a>
            {% else %}
                <a class="disabled">
                    <li class="opcion_desabilitada">
                        <img src="{% static 'img/admin_img/menu/sucursales.svg' %}" alt="">
                        <h3>Sucursales</h3>
                    </li>
                </a>
            {% endif %}

            {% if empleado.id_rol.rol in 'Admin,Recepcionista' %}
                <a href="{% url 'admin/inscripciones_renovaciones'%}">
                    <li class="opcion">
                        <img src="{% static 'img/admin_img/menu/activos/finanzas-activo.svg' %}" alt="" id="activo">
                        <img src="{% static 'img/admin_img/menu/finanzas.svg' %}" alt="" id="inactivo">
                        <h3>Insc y Reno</h3>
                    </li>
                </a>
            {% else %}
                <a class="disabled">
                    <li class="opcion_desabilitada">
                        <img src="{% static 'img/admin_img/menu/finanzas.svg' %}" alt="">
                        <h3>Insc y Reno</h3>
                    </li>
                </a>
            {% endif %}

            <a id="cerrar-sesion" href="{% url 'logout_user' %}">
                <li class="opcion">
                    <img src="{% static 'img/admin_img/menu/activos/Logout-activo.svg' %}" alt="" id="activo">
                    <img src="{% static 'img/admin_img/menu/Logout.svg' %}" alt="" id="inactivo">
                    <h3>Cerrar sesión</h3>
                </li>
            </a>
        </ul>
        <div class="usuario">
            <div class="icono">
                <p id="icono-usuario">
                    {{ empleado.nombre_empleado|slice:":1" }}{{ empleado.apellido_empleado|slice:":1" }}</p>
            </div>
            <div class="nombre-rol">
                <div class="nombre-apellido">
                    <p id="nombre-usuario">{{ empleado.nombre_empleado }}</p>
                    <p id="apellido-usuario">{{ empleado.apellido_empleado }}</p>
                </div>
                <p id="rol-usuario">{{ empleado.id_rol.rol }}</p>
            </div>
        </div>
    </aside>

    <main>

        <!-- Encabezado -->
        <div class="panel-control">
            <div class="encabezado-sucursales">
                <h2>Sucursales</h2>
                <p>Gestiona tus sucursales</p>
            </div>
        {% if empleado.id_rol.rol == 'Admin' %}
            <button class="boton-agregar" onclick="agregar_popup(`{% url 'registrar_sucursal' %}`)">
                <img src="{% static 'img/admin_img/sucursales/building-2 1.svg' %}" alt="Icono">
                <p>Agregar Sucursal</p>
            </button>
        {% endif %}
        </div>

        <!-- Panel de Control -->

        <!-- Contenedor y tarjeta de sucursal -->
        <div class="contenedor-sucursal">
            {% for sucursal in sucursales %}
            <div class="tarjeta-sucursal">
                <!-- Imagen de la sucursal -->
                <img src="{{ sucursal.imagen.url }}" id="imagen-sucursal">
                <!-- Encabezado de la tarjeta de sucursal -->
                <div id="div_acciones_{{sucursal.id_sucursal}}" class="encabezado-tarjeta">
                    <h4>{{ sucursal.nombre_sucursal }}</h4>
                    <div onclick="visible('{{ sucursal.id_sucursal }}')">
                        <img src="{% static 'img/admin_img/global/eliminar.svg' %}" alt="Icono">
                        
                        <!-- Desplegable de acciones -->
                        <div class="desplegable" id="desplegable_{{sucursal.id_sucursal}}">
                            <div class="encabezado_desplegable">
                                <h2>Atención!!</h2>
                                <p>Está a punto de eliminar la sucursal "{{sucursal.nombre_sucursal}}", desea continuar?</p>
                            </div>
                            <button class="boton_cancelar" title="Cancelar la eliminación de la sucursal" onclick="cerrar_desplegable('{{ sucursal.id_sucursal }}'); event.stopPropagation()">Cancelar</button>
                            <button type="button" class="div_eliminar" title="Eliminar Permanentemente">Eliminar</button>
                        </div>
                    </div>
                </div>

                <!-- Ubicación con su icono -->
                <div class="ubicacion-sucursal">
                    <img src="{% static 'img/admin_img/sucursales/map-pin 2.svg' %}" alt="Ubicacion">
                    <p>{{ sucursal.direccion_sucursal }}</p>
                </div>
                <!-- Contenedor flex -->
                <div class="flex">
                    <!-- Télefono con su icono -->
                    <div class="telefono-sucursal">
                        <img src="{% static 'img/admin_img/sucursales/phone 1.svg' %}" alt="Telefono">
                        <p>{{ sucursal.telefono_sucursal }}</p>
                    </div>
                    <!-- Horario con su icono -->
                    <div class="horario-sucursal">
                        <img src="{% static 'img/admin_img/sucursales/clock 1.svg' %}" alt="Horario">
                        <p>{{ sucursal.hora_apertura }} - {{ sucursal.hora_cierre }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay sucursales</p>
            {% endfor %}
        </div>
        <div id="contenedor_popup">
            <!-- Aquí se van a agregar los pop ups -->
        </div>
    </main>

    <div class="contenedor_advertencia">
        <p class="advertencia">Su pantalla no cumple con los requisitos mínimos (800px de ancho)</p>
    </div>
    <script src="{% static 'js/admin_js/desplegables.js' %}"></script>
</body>

</html>