@import url(../../reset.css);
@import url(../../fuentes.css);

body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

/* Estilos para el header */
header {
    width: 100%;
    height: 10vh;
    display: inline-flex;
    justify-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3);
}

/* Estilo del logo en link*/
header a {
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    text-decoration: none;
}

/* h1 en header */
header a h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5vw;
    font-family: paytone;
    color: black;
}

header a h1 span {
    color: #ffa500;
}

/* Contenedor del header */
header .icono-header{
    width: 8%;
    display: flex;
    justify-content: center;
}

/* imagen */
header .icono-header img {
    width: 3.5vw;
}

/* Estilos del aside */
aside{
    height: 85.9vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    box-shadow: 1px 0 0 0 rgba(0,0,0,.3);
}

/* Contenedor de la información del usuario */
aside .user {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 32%;
    margin-bottom: 5%;
}

/* Estilos para el icono de usuario */
aside #icono-user {
    background-color: #ffa500;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    font-weight: 600;
    font-size: 3vw;
    font-family: rubik;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

/* Estilos para el nombre de usuario */
aside .nombre-user{
    font-size: 1.8vw;
    font-family: rubik;
    text-align: center;
}

/* Estilos para el plan del usuario */
aside .plan-user {
    font-size: 1.5vw;
    text-align: center;
    font-family: rubik;
    font-weight: 600;
}

aside span {
    color: #ffa500;
}

/* Estilos para el ul del menú lateral */
aside .opciones-menu {
    width: 100%;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .logout-menu {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para los elementos del menú */
aside li {
    width: 90%;
    height: 6vh;
    margin: 4%;
    background-color: #fff;
    border-radius: 0.5vw;
    position: relative;
}

aside li h4 {
    margin-left: 20%;
}

/* Estilos para enlace en el menú */
aside li a {
    color: black;
    text-decoration: none;
    font-size: 1.3vw;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-family: rubik;
    font-weight: 600;
}

aside a img {
    position: absolute;
    margin-left: 2%;
}

aside a:hover{
    background-color: rgba(242, 180, 66, 0.25);
    color: #ffa500;
    border-radius: 0.5vw;
}

aside a #activo {
    opacity: 0;
}

aside a #inactivo {
    opacity: 1;
}

aside a:hover #inactivo {
    opacity: 0;
}

aside a:hover #activo {
    opacity: 1;
}

