{% load static %}
<link rel="stylesheet" href="{% static 'css/admin_styles/desplegables/clientes/detalles_del_cliente.css' %}">
<div class="cuerpo_popup" id="cuerpo_popup">
    <h2>Detalles del Cliente</h2>

    <div class="info-contenedor">
        <div class="info1">
            <div class="icono_cliente">
                <p>
                    {{cliente.nombre_cliente|slice:":1"}}{{cliente.apellido_cliente|slice:":1"}}
                </p>
            </div>
            <div class="negro">
                <p>{{cliente.id_estado.estado}}</p>
            </div>
        </div>

        <div class="info2">
            <h3>{{cliente.nombre_cliente}} {{cliente.apellido_cliente}} #{{cliente.id_cliente}}</h3>
            <div class="cuerpo_info">
                <div class="mismo">
                    <img src="{% static 'img/admin_img/sucursales/mail (1) 1.svg' %}" alt="">
                    <p>{{cliente.correo_cliente}}</p>
                </div>
                <div class="mismo">
                    <img src="{% static 'img/admin_img/sucursales/phone (2) 1.svg' %}" alt="">
                    <p>{{cliente.telefono_cliente}}</p>
                </div>
                <div class="mismo">
                    <img src="{% static 'img/admin_img/sucursales/map-pinned 1.svg' %}" alt="">
                    <p>{{cliente.direccion_cliente}}</p>
                </div>
                <div class="mismo">
                    <img src="{% static 'img/admin_img/sucursales/id.png' %}" alt="">
                    <p>{{cliente.documento_cliente}}</p>
                </div>
            </div>
        </div>
    </div>

    <form method="POST">
        {% csrf_token %}
        <label for="entrenador">Entrenador</label>
        <input type="text" name="id_cliente" value="{{cliente.id_cliente}}" style="display: none;">
        <select name="id_empleado" id="entrenador">
            <option selected disabled>Seleccionar entrenador</option>
            {% for entrenador in entrenadores %}
            {% if entrenador %}
            <option value="{{entrenador.id_empleado}}">{{entrenador.nombre_empleado}} {{entrenador.apellido_empleado}}</option>
            {% else %}
            <option disabled>La sucursal elegida aún no tiene entrenadores</option>
            {% endif %}
            {% endfor %}
        </select>
        <button type="submit">Guardar</button>
    </form>

    {% if nota_cliente %}
    <div class="encabezado-notas">
        <h3>Notas del Cliente</h3>
        
        
        <div class="contenedor_tbody">
            <table class="historial_notas">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nota in nota_cliente %}
                    <tr>
                        <td>{{nota.fecha}}</td>
                        <td style="max-width: 340px;">{{nota.nota}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <form action="{% url 'admin/clientes/detalles_cliente/' id=cliente.id_cliente %}" method="POST">
        {% csrf_token %}
        <input type="number" style="display: none;" name="id_cliente" value="{{cliente.id_cliente}}">
        
        <input disabled class="notas-del-cliente" id="notas-del-cliente" name="nota" placeholder="Agregar nota ...">

        <div class="boton-container">
            <button type="button" id="agregar-nota">
                <img src="{% static 'img/admin_img/sucursales/notebook-pen 1.svg' %}" alt="">
                <p>Agregar Nota</p>
            </button>
            <div id="botones">
                <button id="boton-cancelar" type="reset">Cancelar</button>
                <button type="submit" id="boton-guardar">Guardar</button>
            </div>
        </div>
    </form>
</div>
<div class="cerrar" onclick="cerrar_popup()"></div>
<script src="{% static 'js/admin_js/clientes.js' %}"></script>
