{% load static %}
<link rel="stylesheet" href="{% static 'css/admin_styles/desplegables/clientes/detalles_del_cliente.css' %}">
<div class="cuerpo_popup" id="cuerpo_popup">
    <h2>Detalles del Cliente</h2>

    <div class="info-contenedor">
        <div class="info1">
            <img src="{% static 'img/admin_img/sucursales/Ver Cliente.svg' %}" alt="">
            <div class="negro">
                <p>{{cliente.id_estado.estado}}</p>
            </div>
        </div>

        <div class="info2">
            <h3>{{cliente.nombre_cliente}} {{cliente.apellido_cliente}}</h3>
            <div class="mismo">
                <img src="{% static 'img/admin_img/sucursales/mail (1) 1.svg' %}" alt="">
                <p>{{cliente.correo_cliente}}</p>
            </div>
            <div class="mismo">
                <img src="{% static 'img/admin_img/sucursales/phone (2) 1.svg' %}" alt="">
                <p>{{cliente.telefono_cliente}}</p>
            </div>
            <div class="mismo">
                <img src="{% static 'img/admin_img/sucursales/map-pinned 1.svg' %}" alt="">
                <p>{{cliente.direccion_cliente}}</p>
            </div>
        </div>

        <div class="info3">
            <p><span>ID Cliente:</span> {{cliente.id_cliente}}</p>
            <p><span>Documento:</span> {{cliente.documento_cliente}}</p>
        </div>
    </div>

    <div class="encabezado-notas">
        <h3>Notas del Cliente</h3>
        
        
        <table class="historial_notas">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                {% for nota in nota_cliente %}
                <tr>
                    <td>- {{nota.fecha}}</td>
                    <td>{{nota.nota}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <form action="{% url 'admin/clientes/detalles_cliente/' id=cliente.id_cliente %}" method="POST">
        {% csrf_token %}
        <input type="number" style="display: none;" name="id_cliente" value="{{cliente.id_cliente}}">
        
        <input disabled class="notas-del-cliente" id="notas-del-cliente" name="nota" placeholder="Agregar nota ...">
            <!-- {% if mostrar_nota %}
            {{ nota_cliente.nota }}
            {% else %}
            {{ cliente.nombre_cliente }} no tiene ninguna nota aún...
            {% endif %} -->

        <div class="boton-container">
            <button type="button" id="agregar-nota">
                <img src="{% static 'img/admin_img/sucursales/notebook-pen 1.svg' %}" alt="">
                <p>Agregar Nota</p>
            </button>
            <button type="button" id="boton-cancelar">Cancelar</button>
            <button type="submit" id="boton-guardar">Guardar</button>
        </div>
    </form>
</div>
<div class="cerrar" onclick="cerrar_popup()"></div>
<script src="{% static 'js/admin_js/clientes.js' %}"></script>
